tr.cart-item {
  background-color: $white !important;

  td.views-field.views-field-title.is-active{
    width: 50% !important;
  }

  td {
    @include font-montserrat-bold(18px);
    border-top: 0 !important;
    border-bottom: 1px solid $grsr_soft_grey !important;
    padding: 25px 8px 35px 8px !important;
    vertical-align: middle !important;
    &.views-field-field-product-images {
      img {
        margin: 0 auto;
      }
    }
  }
  &:last-child {
    td {
      border-top: 0 !important;
      border-bottom: 0 !important;
    }
  }
  .delete-order-item {
    background-color: $grsr_red;
    border-color: $grsr_red;
  }
  .product-title {
    @include font-akrobat-bold(24px);
  }
  .product-brand {
    @include font-akrobat-regular(16px);
  }
  .order-total {
    @include font-montserrat-bold(20px);
    text-align: right;
  }
}