@import "../../css/font-awesome/scss/variables";

#block-views-block-duplicado-de-maps-sucursales-gruporey-map-location,
#block-views-block-catalogo-productos-display-slider-destacados-home {
  margin-bottom: 20px;
}

.left-block-home,
.right-block-home {
  .field--name-field-enlace-del-bloque a {
    font-size: 32px;
    font-weight: normal;
    font-family: $font-Montserrat;
    width: 100%;
    color: $grsr_darkest_gray;
    border-bottom: 1px solid $grsr_dark_grey;
    display: inline;
    padding-bottom: 8px;
    padding-right: 20px;
  }
  .field--name-field-reusable-block-home-image {
    margin: 20px 0 30px 0;
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
    }
  }
}

.right-block-home-slider {
  .field--name-field-slider-link a {
    font-size: 32px;
    font-weight: normal;
    font-family: $font-Montserrat;
    width: 100%;
    color: $grsr_darkest_gray;
    border-bottom: 1px solid $grsr_dark_grey;
    display: inline;
    padding-bottom: 8px;
    padding-right: 20px;
  }
  #flexslider-3 {
    margin: 20px 0 30px 0;
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
    }
  }
}