.contact-message-form-new-provider-form {
  margin-top: 90px;
  margin-bottom: 20px;
  
  @media (min-width: 320px) {
    margin-top: 30px;
  }

  label {
    @include font-montserrat-regular(14px);
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
    width: 250px;
    position: relative;
    top: 7px;

    @media (min-width: 320px) {
      margin-left: 5px;
      width: 100%;
      top: 3px;
    }

    @media (min-width: 768px) {
      width: 277px;
    }
  }

  input,
  textarea,
  .input-group,
  .select-wrapper {
    background: $grsr_soft_grey;
    width: 75%;

    @media (min-width: 320px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1024px) {
      width: 68%;
    }

    @media (min-width: 1200px) {
      width: 73%;
    }
  }

  select {
    background-color: $grsr_soft_grey;
  }

  .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $grsr_red;
    border-color: $grsr_red;
    &:hover {
      background-color: $grsr_red;
      border-color: $grsr_red;
    }
  }

  .form-actions {
    text-align: center;
  }

  .form-required:after {
    margin-left: 7px;
  }

  .description a {
    color: $grsr_red;
    left: 280px;
    position: relative;

    @media (min-width: 320px) {
      left: 0px;
    }
  }
}

.provider--form-info {
  p {
    text-align: justify;
  }
}

.provider--form-title {
  border-bottom: 1px solid $grsr_soft_grey;
  color: $grsr_red;
  display: inline-block;
  padding-right: 20px;

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

#edit-field-provider-person-type {
  display: flex;
  .form-item {
    margin-top: 10px;
  }
}

.field--name-field-provider-person-type {

  fieldset {
    .fieldset-wrapper {
      position: relative;
      top: -8px;
    }
    legend {
      @include font-montserrat-regular(14px);
      border-bottom: 0;
      color: $grsr_dark_grey;
      float: left;
      margin-bottom: 0;
      margin-left: 5px;
      width: 100px;

      @media (min-width: 1024px) {
        width: 277px;
      }
    }
  }

  label[for="edit-field-provider-person-type-natural"] {
    width: fit-content;
    .form-radio {
      left: 137%;
    }
  }

  @media(max-width: 2580px) {
    label[for="edit-field-provider-person-type-natural"]{
      .form-radio {
        left: 130%;
      }
    }

    label[for="edit-field-provider-person-type-jurdica"]{
      margin-left: 65%;
    }
  }

  @media(max-width: 320px) {
    label[for="edit-field-provider-person-type-natural"]{
      .form-radio {
        left: 102% !important;
      }
    }
  }


  @media(max-width: 768px) {
    label[for="edit-field-provider-person-type-jurdica"]{
      margin-left: 47%;
      .form-radio {
        left: 395% !important;
      }
    }
  }

  @media(max-width: 320px) {
    label[for="edit-field-provider-person-type-jurdica"]{
      margin-left: 0;
      .form-radio {
        left: 395% !important;
      }
    }
  }

  label[for="edit-field-provider-person-type-jurdica"]{
    width: 30%;

    .form-radio {
      left: 222%;
    }

    @media(min-width: 1024px) {
      width: 50%;
    }
  }
}

#edit-field-provider-economic-activity-wrapper .select-wrapper:after,
#edit-field-provider-applicant-cat-wrapper .select-wrapper:after,
#edit-field-provider-product-origin-wrapper .select-wrapper:after {
  content: '\e114' !important;

  @media (min-width: 320px) {
    top: 50%;
  }

  @media (min-width: 768px) {
    top: 50%;
    right: 4px;
  }

  @media (min-width: 1024px) {
    top: 50%;
    right: 4px;
  }
}
