.path-contact {
  .main-container{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.contact-form-title {
  border-bottom: 1px solid #e1e1e1;
  display: inline-block;
}

.contact-form-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  .contact-form-number-info {
    color: $red;
  }
  .contact-form-number,
  .contact-form-number a {
    color: $red;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}

.contact-message-feedback-form {
  margin: 90px 0;

  @media (min-width: 320px) {
    margin: 30px 0;
  }

  label, span {
    @include font-montserrat-regular(14px);
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
    width: 277px;
    position: relative;
    top: 7px;

    @media (min-width: 320px) {
      margin-left: 5px;
      width: 100%;
      top: 24px;
    }

    @media (min-width: 768px) {
      width: 277px;
      top: 3px;
    }
  }

  .select-wrapper {
    display: inherit;
  }

  input, textarea, select {
    background: $grsr_soft_grey;

    @media (min-width: 320px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1024px) {
      width: 68%;
    }

    @media (min-width: 1200px) {
      width: 73%;
    }
  }

  .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $grsr_red;
    border-color: $grsr_red;
    &:hover {
      background-color: $grsr_red;
      border-color: $grsr_red;
    }
  }

  .form-actions {
    text-align: center;
  }

  .form-required:after {
    margin-left: 7px;
  }

  .description a {
    position: relative;
    left: 280px;
    color: $grsr_red;
  }

  .select-wrapper:after {
    content: '\e114' !important;

    @media (min-width: 320px) {
      top: 70%;
    }

    @media (min-width: 768px) {
      top: 70%;
      right: 4px;
    }

    @media (min-width: 1024px) {
      top: 50%;
      right: 4px;
    }

    @media (min-width: 1200px) {
      right: 12px;
    }
  }

  .field--name-field-make-contact-via {

    fieldset {
      .fieldset-wrapper {
        position: relative;
        top: 0;

        @media (min-width: 598px) {
          top: -5px;
        }
      }
      legend {
        color: $grsr_dark_grey;
        float: left;
        width: 277px;
        margin-bottom: 0;
        border-bottom: 0;
        margin-left: 10px;

        @media (min-width: 412px){
          width: 100%;
        }

        @media (min-width: 598px){
          width: 277px;
        }
      }
    }

    label[for="edit-field-make-contact-via-email"] {
      width: auto;

      .form-checkbox {
        left: 133%;
      }
      &:first-child {

      }
    }
  }
}

@media (max-width: 409px) {
  label[for="edit-field-make-contact-via-email"] {
    top: 26px;
  }
}

@media (max-width: 375px) {
  label[for="edit-field-make-contact-via-email"] {
    top: 26px;
  }
}

@media (max-width: 320px) {
  label[for="edit-field-make-contact-via-email"] {
    top: 24px;
  }
}

.feedback--text-container {
  p {
    text-align: justify;
  }
}

#edit-field-make-contact-via--wrapper {
  legend {
    margin-left: 0;
  }

  .fieldset-wrapper {
    top: 5px;

    @media (min-width: 598px) {
      top: -4px;
    }
  }
}

.contact--form-title {
  border-bottom: 1px solid $grsr_soft_grey;
  display: inline-block;
  padding-right: 20px;
}

label[for="edit-field-make-contact-via-telfono"]{
  .form-checkbox {
    left: 131%;
    width: fit-content;
  }
  &:first-child {
    width: fit-content;
  }
}

.contact-message-trabaja-con-nosotros-form {
  margin-bottom: 20px;
}
