@import "../../css/font-awesome/scss/variables";

.hero {
  height: auto;
  background-color: $grsr_soft_grey;

  .flexslider {
    margin: 0;
    background: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    .flex-control-paging li a {
      width: 15px;
      height: 15px;
      background: $white;
      border: 3px solid $black;

      &.flex-active {
        background: $grsr_red;
      }

      &:hover {
        background: $grsr_red;
      }
    }
  }

  .flex-control-nav {
    bottom: 50%;
  }

  .home--slider-block {
    .view-filters {
      margin: 0;
    }
  }
}

.lower--block-left {
  border-top: 10px solid $grsr_soft_red;
  padding-top: 70px;
  margin-bottom: 40px;

  .lower-left-block-image {
    img {
      height: 362px;
      width: 100%;
    }
  }

  @media (min-width: 765px) {
    .lower-left-block-image {

    }
  }

  .block--title-wrapper {
    display: block;
    margin-top: 27px;
    margin-bottom: 36px;
  }

  h2.block--title {
    @include font-akrobat-bold(34px);
    text-align: center;
    display: inline;
    color: $grsr_darkest_gray;
    padding-bottom: 9px;
    border-bottom: 1px solid $grsr_dark_grey;
  }

  .lower-left-block-description {

    p {
      @include font-montserrat-light(16px);
      text-align: center;
      line-height: 1.6em;
    }

  }
}

.lower--block-center {
  border-top: 10px solid $grsr_grey_home;
  padding-top: 70px;
  margin-bottom: 40px;

  img.img-responsive {
    height: 362px;
  }

  .lower-left-block-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      border-bottom: 2px solid $grsr_grey_home;
      width: fit-content;
      color: $grsr_darkest_gray;
      padding-bottom: 9px;
      margin-bottom: 23px;
      margin-top: 33px;
    }
  }

  @media (min-width: 767px) {
    .block-block-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 768px) {
    .lower-left-block-title {
      h2 {
        margin-top: 0;
      }
    }
  }

  .lower-left-block-description {
    p {
      text-align: center;
    }
  }

  .block-views-blockmaterial-editorial-block-punto-y-coma-home {
    .view-filters {
      margin: 0;
    }
  }
}

.lower--block-right {
  border-top: 10px solid $grsr_yellow_home;
  padding-top: 70px;
  margin-bottom: 40px;

  .views-row {
    width: 100%;
    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .block-views-blockmaterial-editorial-block-catalogo-home {
    .view-filters {
      margin: 0;
    }
  }
}

.block--editorial-cover {

  img {
    height: 362px;
    width: 100%;
  }
}

.block--editorial-title-wrapper {
  display: block;
  margin-top: 8px;
  margin-bottom: 24px;
}

.block--editorial-title {
  @include font-akrobat-bold(34px);
  text-align: center;

  > div {
    display: inline;
    color: $grsr_darkest_gray;
    padding-bottom: 9px;
    border-bottom: 1px solid $grsr_dark_grey;
  }
}

.block--editorial-summary {
  @include font-montserrat-light(16px);
  text-align: center;

  > div {
    line-height: 1.6em;
  }
}

.featured--block--left {
  margin-top: 33px;

  .featured--recipes-image {
    img {
      min-height: 0;
      height: 200px;
      max-height: 390px;

      @media (min-width: 569px) {
        height: auto;
        min-height: 390px;
      }
    }
  }

  .featured--recipes-text-wrapper {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 13px;
  }

  .featured--recipes-text {
    @include font-akrobat-bold(42px);
    display: inline;
    width: 100%;
    color: $grsr_darkest_gray;
    border-bottom: 1px solid $grsr_dark_grey;
    padding-bottom: 8px;
    padding-right: 20px;
  }

  .recipe--content--wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .featured--recipes-title {
    border-right: 1px solid $grsr_dark_grey;
    display: inline-block;
    padding-right: 20px;
    height: 22px;

    a{
      color: $grsr_dark_grey;
      text-decoration: none;
      position: relative;
      top: -27px;
    }

    span {
      @include font-akrobat-regular(20px);
    }

    h2 {
      @include font-akrobat-bold(26px);
      border: 0;
      color: $grsr_dark_grey;
    }
  }

  .featured--recipes-summary {
    margin-top: 13px;
    div {
      font-size: 16px;
      font-weight: 300;
      font-family: $font-Montserrat;
      text-align: justify;
      color: #717171;
      line-height: 1.6em;
    }
  }

  .featured--recipes-date {
    @include font-akrobat-bold(16px);
    display: inline-block;
    position: relative;
    padding-left: 20px;
    i {
      margin-right: 5px;
      position: relative;
      top: -1px;
      color: black;
    }
  }

  .btn-featured-recipe {
    display: block;
    height: 32px;
    position: relative;
    margin-left: auto;
    a.btn {
      @include font-montserrat-light(12px);
      font-weight: 400;
      color: $white;
      background-color: $grsr_soft_red;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      padding: 5px 11px 5px 11px;
    }
  }

  .optionset-recetas-destacadas-home {
    margin-bottom: 20px;
    min-height: 570px;
    background: transparent;
    border: 0px solid transparent;

    @media (max-width: 992px) {
      min-height: 0;
    }
  }

  .flex-direction-nav a.flex-next:before,
  .flex-direction-nav a.flex-prev:before {
    position: relative;
    top: 12px;
    color: $grsr_red;
  }

  .flex-direction-nav a.flex-prev:hover:before,
  .flex-direction-nav a.flex-next:hover:before{
    color: $grsr_red;
  }

  .flex-direction-nav a {
    top: 32%;
  }

  .form-group {
    margin-bottom: 0;
  }

  .home-map-block-title-container {
    .home-map-block-title {
      font-size: 32px;
      font-weight: normal;
      font-family: $font-Montserrat;
      width: 100%;
      color: $grsr_darkest_gray;
      border-bottom: 1px solid $grsr_dark_grey;
      display: inline;
      padding-bottom: 8px;
      padding-right: 20px;
    }
  }
}

.featured--blocks--right {
  margin-top: 33px;

  .featured--product-image {
    img {
      height: auto;
      width: 100%;
    }
  }

  .btn-featured-product {
    display: block;
    height: 32px;
    margin-top: 13px;
    position: relative;

    a.btn {
      @include font-montserrat-light(11px);
      color: $white;
      background-color: $grsr_soft_red;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      padding: 5px 11px 5px 11px;
      position: absolute;
      right: 2px;
    }
  }

  .featured--product-text-wrapper {
    display: block;
    margin-top: 10px;
  }

  .featured--product-text {
    width: 100%;
    color: $grsr_darkest_gray;
    border-bottom: 1px solid $grsr_dark_grey;
    font-family: $font-Montserrat;
    font-weight: normal;
    font-size: 32px;
    display: inline;
    padding-right: 20px;
  }

  .featured--product-title {
    display: inline-block;
    margin-top: 9px;

    a {

      h2 {
        @include font-akrobat-bold(26px);
        border: 0;
        color: $grsr_dark_grey;
        margin-top: 0;
      }
    }
  }

  .featured--product-summary > div.field--name-body > p {
    @include font-akrobat-regular(18px);
    color: $grsr_dark_grey;
    line-height: 1.6em;
    margin-top: 13px;
    text-align: center;
  }

  .optionset-productos-destacados-home {
    margin-bottom: 0;
    background: transparent;
    border: 0 solid transparent;

    @media (max-width: 992px) {
      min-height: 0;
    }
  }

  .flex-direction-nav a.flex-next:before,
  .flex-direction-nav a.flex-prev:before {
    position: relative;
    top: 12px;
    color: $grsr_red;
  }

  .flex-direction-nav a.flex-prev:hover:before,
  .flex-direction-nav a.flex-next:hover:before{
    color: $grsr_red;
  }

  .flex-direction-nav a {
    top: 50%;
  }

  .form-group {
    margin-bottom: 0;
  }
}

.featured--blocks-home {
  background: $grsr_soft_grey;
  .clear-both {
    clear: both;
  }
}

.home-catalog-slider {
  section.views-element-container {
    .view-content {
      div {
        width: 100%;
      }
    }
  }
}

.field--name-field-editorial-material-left-si {
  .bloques-del-home {
    text-align: center;
    .field--name-field-reusable-block-home-image {
      .field--item {
        img {
          height: 339px;
          width: 100%;
        }
      }
    }
  }
}

.home-blocks {
  padding-bottom: 20px;
}

.flexslider {
  .field--name-field-home-slider-image,
  .field--name-field-home-slider-image-mobile {
    img {
      height: auto;
      max-width: 100%;
    }
  }

  .field--name-field-home-slider-image {
    //@media (max-width: 767px) {
    //  img {
    //    display: none;
    //  }
    //}
  }

  .field--name-field-home-slider-image-mobile {
    //@media (min-width: 768px) {
    img {
      display: none;
    }
    //}
  }
}

article.bloques-del-home.is-promoted.teaser.clearfix {
  margin-top: 50px;
  text-align: center;
  background-color: #fff;
  .field.field--name-field-reusable-block-home-image {
    margin: 20px 0 20px;
    img {
      width: 100% !important;
    }
  }
}

.field--name-field-reusable-block-home-name {
  margin: 10px 0 10px;
  text-align: center;
  font-size: 28px;
  font-family: $font-Montserrat;
  padding-bottom: 0;
  border-bottom: 1px solid #6c6d70;
  display: inline;
  width: fit-content;
  font-weight: 400;
}

a.home-block-url-container:hover {
  .field--name-field-reusable-block-home-name {
    border-bottom: 0 transparent;
  }
}

article.contextual-region.material-editorial-list.is-promoted.teaser.clearfix {
  .content {
    @extend .row;
  }
}

.main-block-left {
  border-top: 5px solid #FC0D1B;
  padding-top: 60px;
}
.main-block-center {
  border-top: 5px solid #BBC2C6;
  padding-top: 60px;
}
.main-block-right {
  background-color: $white;
  border-top: 5px solid #FEE921;
  padding-top: 60px;
}

article.bloques-del-home.is-promoted.default.clearfix {
  background-color: $white;
  margin-top: 64px;
  margin-bottom: 64px;
  .content {
    .field--name-field-reusable-block-home-image {
      img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
  }

  .reusable-block-field-name-container {
    text-align: center;
    .field--name-field-reusable-block-home-name {
      margin: 10px 0 10px;
      text-align: center;
      color: #585858;
      font-size: 28px;
      font-weight: 400;
      padding-bottom: 9px;
      border-bottom: 1px solid #6C6D70;
      display: inline;
    }
  }
}

.home-block-url-container {
  color: #585858;
}

.field--name-field-descri {
  font-size: 16px;
  line-height: 1.4em;
  text-align: center;
  margin-top: 30px;
}

.main-container > .row > section.col-xs-12.homepage {
  margin-top: 0;
}

.block-views-blockhome-home-slider-block {
  .flex-slider-home-banner {
    img {
      margin: 0 auto;
      width: auto;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}

.homepage {
  padding-top: 0;
  > .row > section[class*="col-"] {
    margin-top: 0;
  }
}
.block-views-blockhome-home-slider-block {
  .flex-direction-nav {
    a.flex-next,
    a.flex-prev {
      height: fit-content;
      display: flex;
      justify-content: center;
      width: fit-content;
      margin-left: 4%;
    }
    a.flex-next {
      margin-left: 0;
      margin-right: 4%;
    }
    a::before {
      position: relative;
      color: #FDFDFD;
      display: flex;
      justify-content: center;
      border-radius: 47%;
      border: 3px solid #85847E;
      align-items: center;
      font-weight: lighter;
      font-size: 22px;
      height: 62px;
      width: 62px;
    }

    @media screen and (max-width: 425px) {
      a::before {
        height: 30px;
        width: 30px;
        font-size: 16px;
      }
    }

    @media (max-width: 767px) {
      a::before {
        border: none;
      }
      a.flex-prev {
        margin-left: -4%;
      }
      a.flex-next {
        margin-right: -2%;
      }
    }
  }
}

$red: #A5241D;
.block-views-blockcatalogo-productos-display-slider-destacados-home {
  .flex-direction-nav {
    a.flex-next,
    a.flex-prev {
      background-color: $red;
    }
    a.flex-prev {
      display: flex;
      justify-content: center;
      left: 0 !important;
    }

    a.flex-next {
      display: flex;
      justify-content: center;
      right: 0 !important;
    }

    a.flex-next::before,
    a.flex-prev::before {
      color: white;
    }
  }
}

.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.arrow_box::after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box::after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: $red;
  border-width: 8px;
  margin-left: -30px;
}

.field--name-field-reusable-block-home-image {
  img {
    width: 100%;
  }
}

.region-featured-left-block-home {
  padding-top: 20px;
}

.region-featured-right-block-home {
  padding-top: 10px;
}

@media screen and (min-width: 992px) {
  .view-display-id-gruporey_branch_map_location .geolocation-common-map-container {
    height: 330px !important;
  }
}


@media screen and (min-width: 1200px) {
  .view-display-id-gruporey_branch_map_location .geolocation-common-map-container {
    height: 400px !important;
  }
}