.user-login-form {
  label {
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
    width: 185px;
    position: relative;
    top: 7px;

    @media (min-width: 320px) {
      margin-left: 5px;
      top: 3px;
    }
  }

  label[for="edit-pass"] {
    margin-top: 15px;
  }

  input, textarea, select {
    background: $grsr_soft_grey;
    width: 81%;

    @media (min-width: 320px) {
      width: 100%;
    }
  }

  .form-required:after {
    margin-left: 7px;
  }

  .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $grsr_red;
    border-color: $grsr_red;

    &:hover {
      background-color: $grsr_red;
      border-color: $grsr_red;
    }

    @media (min-width: 768px){
      margin-top: 20px;
    }
  }

  .form-actions {
    text-align: center;
  }

  .form-item {
    width: 100%;

    @media (min-width: 768px){
      margin: 0 auto;
      width: 40%;
    }
  }
}