.modal--material-editorial {
  #cboxWrapper,
  #cboxContent {
    background-color: $black;
  }

  #cboxClose {
    background: url(../img/modal--close.png)  !important;
    background-size: 100% !important;
    top: 7px !important;
    right: 7px !important;
    width: 35px !important;
    height: 35px !important;
  }
}

.catalogo--video {
  display: none;
}

.view-display-id-block_listado_catalogo {
 .view-content {
   margin-top: 50px;
 }
}

.view-display-id-block_listado_catalogo_attachment,
.view-display-id-block_listado_punto_y_coma_attachment {
  .attachment {
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;

    .cover--container {
      padding: 0;

      @media (min-width: 768px) {
        padding: 0 0 0 15px;
      }

      .cover img {
        width: 100%;
      }
    }

    > .content {
      padding: 0;

      .content-wrapper {
        margin-top: 20px;
      }

      @media (min-width: 768px) {
        padding: 0 50px 0 50px;
      }


      h2.text {
        @include font-akrobat-bold(28px);
        border-bottom: 1px solid #c0c0c0;
        color: $grsr_darkest_gray;
        display: inline-block;
        margin: 0 0 10px 0;
        padding-bottom: 10px;
        padding-right: 15px;
      }

      span.description {
        @include font-akrobat-regular(12px);
        color: $grsr_darkest_gray;
        text-align: justify;
      }

      .catalogo-open-video-modal {
        @include font-akrobat-regular(16px);
        color: $grsr_red;
        display: inline-block;
        //padding-top: 20px;
        text-decoration: none;
        width: 125px;
      }

      .download {
        @include font-akrobat-regular(16px);
        color: $grsr_darkest_gray;
        display: inline-block;
        //padding-top: 70px;
        text-decoration: none;
        width: 160px;
      }

      .online {
        @include font-akrobat-regular(16px);
        color: $grsr_darkest_gray;
        display: inline-block;
        //padding-top: 70px;
        text-decoration: none;
        width: 130px;
      }

      .icon {
        float: left;
        height: 36px;
        margin-right: 10px;
        width: 36px;
      }

      .links-container {
        padding-top: 70px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;

        @media (min-width: 320px) {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          .download,
          .online,
          .catalogo-open-video-modal {
            margin-bottom: 20px;
          }
        }

        @media (min-width: 460px) {
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;

          .download,
          .online,
          .catalogo-open-video-modal {
            margin-bottom: 0;
          }
        }

        @media (min-width: 768px) {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;

          .download,
          .online,
          .catalogo-open-video-modal {
            margin-bottom: 20px;
          }
        }

        @media (min-width: 992px) {
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;

          .download,
          .online,
          .catalogo-open-video-modal {
            margin-bottom: 0;
          }
        }

        .download,
        .online,
        .catalogo-open-video-modal {
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          -webkit-align-self: auto;
          -ms-flex-item-align: auto;
          align-self: auto;
        }

        .online span {
          position: relative;
          top: 8px;
        }

      }
    }
  }
  .view-footer {
    @media (min-width: 768px) {
      padding-left: 15px;
    }

    h2 {
      @include font-akrobat-bold(28px);
      color: $grsr_darkest_gray;
      display: inline-block;
      margin: 0 0 35px 0;
      padding: 35px 15px 10px 0;
    }
  }
}

.view-material-editorial {
  .view-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .catalogo-items {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      article.item {
        margin-bottom: 20px;
        width: 100%;

        .cover {
          img {
            width: 100%;
          }
        }

        .title {
          h2 {
            @include font-akrobat-bold(28px);
            color: $grsr_red;
          }
        }

        .publication {
          @include font-akrobat-regular(16px);
          bottom: 7px;
          color: $grsr_dark_grey;
          position: relative;
        }

        .attachment {
          display: inline-block;
          width: 150px;
          padding-top: 15px;

          a {
            @include font-akrobat-regular(16px);
            color: $grsr_darkest_gray;
            text-decoration: none;
          }
        }

        .icon {
          float: left;
          height: 18px;
          margin-right: 8px;
          width: 18px;
        }

        .links-container {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-align-content: stretch;
          -ms-flex-line-pack: stretch;
          align-content: stretch;
          width: 250px;

          .online-previous {
            margin-right: 20px;
          }

          .download-previous,
          .online-previous {
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
          }
        }
      }
    }
  }
}

.view-display-id-block_listado_punto_y_coma_attachment,
.view-display-id-block_listado_catalogo_attachment {
  .view-footer{
    hr{
      border-top: 1px solid darkgray;
      margin-top: 5px;
      margin-bottom: 5px
    }
    h2{
      margin: 0 0 0 0;
    }
  }
}

.view-display-id-block_listado_punto_y_coma_attachment {
  .attachment .cover--container .cover img{
    width: 406px !important;
    height: 520px !important;
  }

  @media screen and (max-width: 991px){
    .attachment .cover--container .cover img{
      width: 298px !important;
      height: 430px !important;
    }
  }

}

@media screen and (max-width: 767px) {
  .content-wrapper .responsive-container{
    padding-top: 2% !important;
  }

  .view-display-id-block_listado_catalogo_attachment{
    padding-left: $mobile-padding-left !important;
    padding-right: $mobile-padding-right !important;
  }

  .view-material-editorial .view-content .catalogo-items article.item{
    padding-left: $mobile-padding-left;
    padding-right: $mobile-padding-right;
  }

  .view-display-id-block_listado_punto_y_coma_attachment{
    padding-left: $mobile-padding-left !important;
    padding-right: $mobile-padding-right !important;
  }

  .contextual-region .view-catalogo-productos-display{
    padding-right: 2%;
    padding-left: 2%;
  }
}

.path-punto-y-coma {
  .catalog-bg {
    @media (min-width: 768px){
      height: 429px;
    }

    @media (min-width: 863px) {
      height: 532px;
    }

    @media (min-width: 992px) {
      height: 610px;
    }

    @media (min-width: 1200px) {
      height: 610px;
    }
  }
}

.catalog-bg {
  position: absolute;
  background-image: url(../img/background-punto-coma.png);
  height: 704px;
  width: 100%;

  @media (min-width: 360px) {
    height: 858px;
  }

  @media (min-width: 412px) {
    height: 878px;
  }

  @media (min-width: 460px) {
    height: 778px;
  }

  @media (min-width: 485px) {
    height: 788px;
  }

  @media (min-width: 500px) {
    height: 808px;
  }

  @media (min-width: 525px) {
    height: 828px;
  }

  @media (min-width: 580px) {
    height: 868px;
  }

  @media (min-width: 600px) {
    height: 970px;
  }

  @media (min-width: 720px) {
    height: 990px;
  }

  @media (min-width: 760px) {
    height: 1008px;
  }

  @media (min-width: 768px) {
    height: 526px;
  }

  @media (min-width: 863px) {
    height: 635px;
  }

  @media (min-width: 1200px) {
    height: 670px;
  }

  @media (max-width: 767px) {
    background-image: none;
  }
}