#cboxClose {
  background: url(../img/modal--close-gray.png)  !important;
  background-size: 100% !important;
  top: 7px !important;
  right: 7px !important;
  width: 35px !important;
  height: 35px !important;
}

#colorbox {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.28);
}

#cboxContent {
  background-color: $white;
}

#cboxOverlay {
  background: $grsr_soft_grey !important;
}

.multipagos--container {
  height: 100%;

  .row {
    height: 100%;
  }

  .row > section.col-xs-12 {
    margin-top: 0;
  }

  .content-padding {
    padding: 18px 6px 0px 6px;
  }

  .row-container {
    height: 100%;

    section {
      height: 100%;
      padding: 0;
    }
  }

  .side-image {
    height: 500px;
    padding: 0;
    background: transparent;
    background-image: url(../img/multipagos--image.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }

  .form-select {
    width: 100%;
  }

  .select-wrapper:after {
    content: '\e114' !important;
  }

  .modal--multipagos-title {
    margin: 0 0 6px 5px;
    padding: 0;
    border: 0;
  }

  .modal--multipagos-subtitle {
    @include font-montserrat-light(14px);
    margin-bottom: 15px;
    margin-left: 5px;
  }
  
  .btn-formulario-pagos {
    background: $grsr_red;
    border-color: rgba(203, 0, 35, 0.5);
    margin-bottom: 10px;
  }
}

.view-multipagos.view-id-multipagos {
  max-height: 360px;
  margin-left: 5px;
  overflow-y: auto;
  padding-bottom: 10px;

  .field--item {
    margin-bottom: 5px;
  }
}

.modal--multipagos  {
  //#colorbox {
  //  height: 685px !important;
  //  width: 857px !important;
  //}
  //
  //#cboxWrapper {
  //  height: 685px !important;
  //  width: 857px !important;
  //}
  //
  //#cboxContent {
  //  height: 685px !important;
  //  width: 857px !important;
  //
  //  #cboxLoadedContent {
  //    height: 685px !important;
  //    width: 857px !important;
  //  }
  //}

  #cboxClose {
    background: url(../img/modal--close.png)  !important;
    background-size: 100% !important;
    top: 7px !important;
    right: 7px !important;
    width: 35px !important;
    height: 35px !important;
  }

  #cboxTopLeft,
  #cboxTopCenter,
  #cboxTopRight,
  #cboxMiddleLeft,
  #cboxMiddleRight,
  #cboxBottomLeft,
  #cboxBottomCenter,
  #cboxBottomRight {
    height: 0 !important;
    width: 0 !important;
  }

  #cboxTitle {
    padding: 0 !important;
  }

  #cboxLoadedContent {
    margin-bottom: 0 !important;
  }
}

.multipagos--container {
  padding-top: 0;
  padding-left: 0;
}
