article.nosotros-bloque-contenido {
  .content {
    margin-bottom: 162px;
    .field.field--name-field-nosotros-bloque-imagen.field--type-image.field--label-hidden.field--item.quickedit-field {
      img {
        width: 100%;
        height: 350px;
      }
    }

    .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
      margin-bottom: 34px;
      min-height: 104px;
      font-family: $font-Montserrat;
      color: #8C8D8F;
      ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        li {
          display: flex;
          flex-direction: row-reverse;
          width: fit-content;
          a {
            font-size: 16px;
            position: relative;
            top: 2px;
            padding-left: 10px;
            font-family: $font-Montserrat;
            color: #8C8D8F;
          }
          span {
            i {
              font-size: 23px;
              font-weight: lighter;
            }
          }
        }
        li:before {
          margin-left: -1.3em;
        }
      }
    }
  }


  .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      li {
        display: flex;
        flex-direction: row-reverse;
        width: fit-content;
        font-size: 16px;
        position: relative;
        top: 2px;
        font-family: $font-Montserrat;
        color: #8C8D8F;
      }
    }
  }

  button.field-enlace {
    .field--name-field-boton-enlace {
      a {
        color: $white;
      }
    }
  }
}

.field--name-field-nosotros-bloque-nombre {
  text-align: left;
  font-size: 26px;
  margin: 20px 0 20px;
  color: #AE082B;
  font-weight: 500;
  font-family: $font-Montserrat;
}

.field--name-field-boton-enlace {
  a {
    color: $white;
    font-family: $font-Montserrat;
  }
}

.field--name-field-nosotros-bloque-nombre {
  text-align: left;
  font-size: 26px;
  margin: 20px 0 20px;
  color: #AE082B;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
