

section.views-element-container.contextual-region.block.block-views.block-views-blockcatalogo-productos-display-block-catalogo-productos-display {
  @media screen and (max-width: 425px){
    .view-content {
      display: flex !important;
      flex-direction: column;
      .views-row {
        width: 100% !important;
      }
    }
  }
}

.our-brands {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    .views-row {
      margin-bottom: 48px;
    }
    @media screen and (max-width: 425px) {
      flex-direction: column;
      align-items: center;
      .views-row {
        width: 100% !important;
      }
    }
  }
}

.field--name-field-marca {
  a {
    font-family: $font-Montserrat;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 11px;
    margin-top: 3px;
    color: #6C6D70;
  }
}

.offert-description-label {
  font-family: $font-Montserrat;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  border-bottom: 1px solid #6C6D70;
  padding-bottom: 16px;
  width: 162px;
}

.field--name-field-descripcion {
  margin-top: 13px;
  p {
    font-family: $font-Montserrat;
    font-weight: 300;
    font-size: 18px;
  }
}

.field--name-field-precio {
  margin-top: 40px;
  font-size: 42px;
  font-weight: 700;
  font-family: $font-Montserrat;
}

.product--slider {
  height: 554px;
}

.offert-feeatured-label {
  font-family: $font-Montserrat;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  border-bottom: 1px solid #6C6D70;
  padding-bottom: 16px;
  width: 162px;
  width: 100%;
}

// page offers
.path-ofertas, .path-nuestras-marcas {

  // form
  .products-filter {
    form {

      fieldset {

        // title
        legend {

        }

        // fields container
        #edit-field-marca-target-id, #edit-field-categoria-target-id {
          & > .fieldgroup label > input {
            margin-right: .5em;
          }
        }
      }

      .form-item > [for=edit-field-nombre-de-promocion-value] {
        margin-bottom: .5em;
      }

    }
  }

  // offers block
  .products .products-list, .our-brands .catalogo-productos-listado {

    @media screen and (max-width: 767px) {
      margin-left: 1em;
      margin-right: 1em;
    }

    // offers list
    .view-content {

      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;

      .views-row { // = .product-item
        @extend .product-item;
        float: none;
        clear: none;
        flex: 0 0 50%;
        width: 50%;
        @media (min-width: 550px) {
          flex: 0 0 33.33%;
          width: 33.33%;
        }
        @media (min-width: 1200px) {
          flex: 0 0 25%;
          width: 25%;
        }

        div.field--name-field-product- {
          padding-left: 0 !important;
        }

        .product-display.catalogo-productos-listado {
          padding-right: 0 !important;
          padding-left: 0 !important;
        }

        // product visu
        .catalogo-img-container {
          height: 200px;
          a {
            display: block;
            min-height: 170px;
            overflow: hidden;
            img {
              width: 100% !important;
              height: 100% !important;
              object-fit: scale-down;
            }
            // IE
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                height: auto;
              }
            }
          }
        }
        // product title
        .field.field--name-title.field--type-string.field--label-hidden.field--item {
          text-align: left;
          font-weight: 400;
          font-size: 20px;
          line-height: 1.2em;
          color: #6C6D70;
        }
        // product brand
        .field.field--name-field-marca.field--type-entity-reference.field--label-hidden.field--item {
          margin-top: 5px;
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2em;
            color: #6C6D70;
          }
        }
        // prices label
        .product-price-label, .product-offert-price {
          font-weight: bold;
          font-size: 1.3em;
        }
        // price before
        .product-price-label {
          margin: 20px 0 0;
          font-size: 1.1em;
          font-weight: normal;
        }
        // price now
        .offert-container {
          margin: 15px 0 0;
          .new-product-offert-price-label {
            margin-right: 5px;
          }
          .product-offert-price {}
        }

      }
    }
  }
}

.catalogo-img-container {
  height: 156px;
  a {
    height: 100%;
  }
  img {
    height: 100%;
  }
}

.field--name-field-marca {
  margin-bottom: 10px;
}

.field--name-title {
  font-family: $font-Akrobat;
  font-weight: 400;
  font-size: 26px;
  text-align: left !important;
  margin-top: 20px;
  line-height: 1.2em;
}

.field--name-field-marca {
  margin-bottom: 20px;
  margin-top: 5px;
  a {
    font-family: $font-Akrobat;
    font-weight: 400;
    font-size: 18px;
  }
}

.product-price {
  font-family: $font-Montserrat;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
  display: inline-block;
}

.product-details-info {
  .field--name-field-upc {
    text-align: left !important;
  }
}

.product-profile-price {
  label {
    font-family: $font-Montserrat;
    font-weight: 700;
    font-size: 42px;
    display: inline-block;
    margin-top: 40px;
  }
}

.product--slider {
  .slick {
    .media {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}
