//view details classes
.product-details {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  .views-field {
    display: block;
  }
  .field--name-title {
    @include font-akrobat-bold(41px);
    color: $grsr_red;
    text-align: left !important; /* Important colocado por una clase .field--name-title modificada globalmente */
    line-height: 1.2em;
  }
  .field--name-field-product-brand {
    @include font-montserrat-light(20px);
    margin-bottom: 11px !important;
    margin-top: 3px;
  }
  .field--name-body {
    margin-top: 10px;
    .views-label-body {
      @include font-akrobat-bold(26px);
      border-bottom: 1px $grsr_dark_grey solid;
      padding-right: 25px;
    }
    .field-content {
      @include font-montserrat-light(16px);
      margin-top: 10px;
    }
    .field--label {
      @include font-akrobat-bold(26px);
      margin-top: 20px;
      border-bottom: 1px solid $grsr_dark_grey;
      padding-bottom: 16px;
      width: 162px;
    }
    .field--item {
      margin-top: 13px;
    }

  }
  .field--name-price {
    @include font-montserrat-bold(42px);
    display: inline-block;
    margin-top: 40px;
  }

}

.block-views-blockcatalogo-productos-display-block-productos-destacados {

  .field--name-title {
    @include font-akrobat-regular(26px);
    text-align: left !important;
    margin-top: 20px;
    line-height: 1.2em;
  }

  form.commerce-order-item-add-to-cart-form {
    margin-left: 0px;
  }

  .field--name-price {
    @include font-montserrat-bold(24px);
    margin-top: 20px;
    display: inline-block;
  }

  .field--name-field-product-brand {
    @include font-akrobat-regular(18px);
  }

  .view-catalogo-productos-display {
    .field--name-field-product- > a > img {
      width: 100%;
      vertical-align: middle;
      max-height: 186px;
    }

    .catalogo-img-container {
      width: 140px;
      text-align: center;
      white-space: nowrap;
    }
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: inline !important;
  }

  @media screen and (max-width: 599px){
    div.field.field--name-field-product-.field--type-entity-reference.field--label-hidden.field--item{
      padding-left: 0 !important;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px){
    div.field.field--name-field-product-.field--type-entity-reference.field--label-hidden.field--item{
      padding-left: 20px !important;
    }
  }
}

@media screen and (max-width: 502px){
  .block-views-blockcatalogo-productos-display-block-productos-destacados
  .product-display.catalogo-productos-listado {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.block-views-blockmaterial-editorial-block-1 {
  > h2.block-title {
    @include font-akrobat-bold(26px);
    color: $grsr_red;
    border-bottom: 1px solid $grsr_red;
    padding-bottom: 12px;
  }
}

.editorial-button-red {
  @include font-montserrat-light(16px);
  @include center(true, false);
  padding: 9px;
  border-radius: 10px;
  background-color: $grsr_red;
  border-color: rgba(203, 0, 35, 0.5);

  &:hover {
    background-color:$grsr_red;
    border-color: rgba(203, 0, 35, 0.5);
  }
}

.slick--thumbnail.slick--skin--asnavfor .slick__slide.slick-current {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  border-top: 2px solid $grsr_red;

}

.slick--thumbnail.slick--skin--asnavfor {

  .slick__slide.slick-current::before {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $grsr_red;
    position: absolute;
    top: -6px
  }

  .slick-track {
    padding-bottom: 20px;
    padding-top: 20px;
  }

}

.slick-arrow {

  &::before {
    color: $grsr_red;
  }

  &:hover::before {
    color: $grsr_red;
  }
}

.slick--optionset--grsr-product-slider {
  height: 345px;
}

.productos--destacados {
  h2 {
    border-bottom: 1px solid $grsr_medium_grey;
    padding-bottom: 10px;
  }
}

.variation {
  .price {
    float: left;
    margin-right: 20px;
  }

  .add-to-form {
    float: left;
    form {
      margin-top: 34px;
    }
  }
;
}

.productos--destacados {
  .product-item:nth-child(4n+1){
    clear: none;
  }
}