.path-catalogo-productos {
  @media (min-width: 863px) {
    .main-container  {
      padding-top: 34px;
    }
  }
}

.products {

  div#edit-actions {
    display: block !important;
  }
  fieldset {
    margin-bottom: 20px;
  }
  .fieldset-legend {
    @include font-akrobat-bold(18px);
    width: 100%;
    color: $grsr_red;
    line-height: 30px;
    padding: 5px 0;
  }
  //bootstrap overwrites
  legend {
    border-bottom-color: $grsr_red;
    border-bottom-width: 2px;
    margin-bottom: 15px;
  }
  .form-item {
    display: inline-block;
    width: 100%;
  }
  //product list
  .products-list {
    .view-header {
      @include font-montserrat-regular(14px);
      border-bottom: 2px $grsr_dark_grey solid;
      margin-bottom: 15px;
      line-height: 18px;
      padding: 5px 15px;
    }

    .block-block-content {
      position: relative;
    }

    .view-content {
      .views-row {
        width: 25%;
      }
    }
  }
}

.has-glyphicons {
  & .select-wrapper:after {
    content: '' !important;
  }
}

//view field formats
.product-item {
  margin-bottom: 8px !important;
  padding: 25px 20px 20px 20px;

  .field--name-title {
    text-align: left !important;
    font-size: 18px;
    font-weight: normal;
    font-family: $font-Montserrat;
  }

  .product-offert-price,
  .product-price-label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 4px;
  }

  .product-offert-price {
    margin-top: 10px;
    margin-left: 5px;
  }

  @media (min-width: 1200px) {
    box-shadow: 0 0 0 rgba($grsr_dark_grey, 0);
    transition: box-shadow .2s;
    &:hover {
      box-shadow: 0 0 10px rgba($grsr_dark_grey, 0.6);
    }
  }

  .product-details-info {
    margin-top: 40px;

    .product--link {
      color: $grsr_dark_grey;
      text-decoration: none;
    }
  }

  .views-field {
    margin: 5px 0;
  }

  .views-field-field-product-images {
    margin-bottom: 10px;
    //@Todo Once image styles and images normalized remove min-heigth
    min-height: 140px;
  }


  .catalogo-productos-listado {
    .field--name-field-product- > a > img {
      width: 100%;
      vertical-align: middle;
      max-height: 186px;
    }

    .catalogo-img-container {
      width: 100%;

      text-align: center;
      white-space: nowrap;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 599px){
    div.field.field--name-field-product-.field--type-entity-reference.field--label-hidden.field--item{
      padding-left: 20% !important;
    }
  }

  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: inline !important;
  }

  @media (min-width: 600px) {
    width: 50%;

    &:nth-child(2n+1) {
      clear: left;
    }
  }

  @media (min-width: 992px) {
    width: 25%;

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(4n+1) {
      clear: left;
    }
  }
}

.new-product-offert-price-label {
  font-size: 18px;
  font-weight: bolder;
}

$productoDestacadoHeight: 140px;

.product-item-destacado {
  margin-bottom: 11px !important;
  padding: 25px 20px 20px 20px;

  &:hover {
    box-shadow: 0 0 10px rgba($grsr_dark_grey, 0.6);
  }

  .product-details-info {
    margin-top: 40px;

    .product--link {
      color: $grsr_dark_grey;
      text-decoration: none;
    }
  }

  .views-field {
    margin: 5px 0;
  }

  .views-field-field-product-images {
    margin-bottom: 10px;
    //@Todo Once image styles and images normalized remove min-heigth
    min-height: 140px;
  }

  .field--name-title {
    @include font-akrobat-regular(24px);
    text-align: left !important;
    line-height: 1.2em;
  }

  .field--name-field-product-brand {
    @include font-montserrat-light(14px);
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .field--name-price {
    @include font-montserrat-bold(24px);
    margin-top: 30px;
  }

  .field--name-field-product-price, .field--name-field-product-price-number {
    @include font-akrobat-bold(28px);
    margin-bottom: 16px;
  }

  &:nth-child(6n+1) {
    clear: left;
  }

  .catalogo-productos-listado {
    .field--name-field-product- > a > img {
      width: 100%;
      height: $productoDestacadoHeight;
    }
  }

  @media (min-width: 600px) {
    width: 50%;

    &:nth-child(2n+1) {
      clear: left;
    }
  }

  @media (min-width: 992px) {
    width: 33.33%;

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n+1) {
      clear: left;
    }

    &:nth-child(6n+1) {
      clear: left;
    }
  }

  @media (min-width: 1200px) {
    width: 16.66666667%;

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n+1) {
      clear: none;
    }

    &:nth-child(6n+1) {
      clear: left;
    }
  }
}

.commerce-order-item-add-to-cart-form {
  vertical-align: middle;
  margin-top: 10px;
  .form-control {
    padding-left: 2px;
    padding-right: 2px;
  }
  .control-label {
    display: none;
  }
  .form-number {
    width: 40px;
    margin-right: 10px;
  }
  .form-group {
    display: inline-block;
    float: left;
  }
  .form-actions {
    .btn-primary {
      background-color: $grsr_soft_red;
      border-color: rgba($grsr_soft_red, 0.5);
    }
    .btn {
      @include font-montserrat-regular(14px);
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  & button[id*="edit-submit"] {
    @include font-montserrat-semibold(16px);
    padding-right: 35px !important;
    background: url(../img/cart.png) $grsr_red;
    background-size: 20px 17px;
    background-repeat: no-repeat;
    background-position: 57px 7px;
  }

}

.select-wrapper {

  &:after {
    color: $grsr_red;
  }
}

.product--list-filter-select {
  float: left;
  width: 72%;
  padding-bottom: 16px;

  & .form-item-sort-by {
    float: left;
    width: 50%;

    .select-wrapper {
      width: 61%;

      select {
        @include font-montserrat-light(13px);
      }
    }
  }

  & .form-item-title {
    float: left;
    width: 44%;

    label {
      clear: both;
      display: inline-block;
      float: left;
      margin-right: 5px;
      position: relative;
      top: 7px;
    }

    input {
      display: inline-block;
      float: left;
      width: 68%;
    }
  }

  label {
    @include font-montserrat-regular(14px);
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .product-item-destacado {
    .catalogo-productos-listado {
      .field--name-field-product- > a > img {
        width: 60% !important;
        height: $productoDestacadoHeight;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product-item-destacado {
    .catalogo-productos-listado {
      .field--name-field-product- > a > img {
        width: 90% !important;
        height: 128px !important;
      }
    }
  }
  .block-views-blockcatalogo-productos-display-block-productos-destacados
    .field--name-price {
      font-size: 1.42857em !important;
    }

}

@media screen and (max-width: 1199px) {
  .product--list-filter-select .form-item-sort-by {
    label {
      width: 60%;
    }
  }
  .product--list-filter-select .form-item-title {
    label {
      position: inherit !important;
      width: 62%;
    }
  }
  .product--list-items-per-page-select .form-item-items-per-page {
    label {
      font-size: 0.9em;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .product-display.catalogo-productos-listado {
    padding-right: 20% !important;
    padding-left: 20% !important;
  }
}

@media screen and (max-width: 692px) {
  .product--list-filter-select {
    width: 68%;
  }
  .product--list-items-per-page-select {
    width: 30% !important;
  }
  .product--list-items-per-page-select .form-item-items-per-page {
    .select-wrapper {
      width: 48% !important;
    }
  }
}

@media screen and (max-width: 512px) {
  .form-item-title {
    margin-left: 0 !important;
  }
}

.product--list-items-per-page-select {
  float: left;
  width: 28%;
  padding-bottom: 16px;

  & .form-item-items-per-page {

    width: 100%;
    text-align: right;

    & .select-wrapper {
      width: 25%;

      select {
        @include font-montserrat-light(13px);
      }
    }

    label {
      @include font-montserrat-light(14px);
    }
  }

}

label[for*="edit-field-product-brand-target-id-"],
label[for*="edit-field-product-category-target-id-"] {
  @include font-montserrat-light(13px);
  padding-left: 10px !important;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    padding-left: 24px !important;
  }

  & > input[type="checkbox"] {
    visibility: hidden;

    &:checked + label:after {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0;
    background-color: $white;
    border-radius: 3px;
    //-webkit-box-shadow: inset 10px 10px 3px -6px rgba(0,0,0,0.36);
    //-moz-box-shadow: inset 10px 10px 3px -6px rgba(0,0,0,0.36);
    //box-shadow: inset 7px 7px 3px -6px rgba(0,0,0,0.36);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  }

  &:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 3px;
    border: 3px solid $grsr_red;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }
  &:hover::after {
    opacity: 0.5;
  }

  &.product--filter-selected {
    position: relative;

    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 3px;
      border: 3px solid $grsr_red;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 1;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
}

div[class*="form-item-field-product-brand-target-id-"],
div[class*="form-item-field-product-category-target-id-"] {
  margin-bottom: 1px;
  @media (min-width: 320px) {
    margin-bottom: 1px !important;
  }
}

.product--list-filters {
  & .select-wrapper::after {
    content: '\e114' !important;
  }
}

.product--list-paginator {
  @include font-montserrat-regular(14px);
  position: relative;
  right: 0;
  text-align: right;
  width: 100%;
  z-index: 1;
}

.facets--products {
  display: inline-block;

  @media (min-width: 320px) {
    display: none;
  }

  @media (min-width: 992px) {
    display: inline-block;
  }

  .form-item-sort-by,
  .form-item-items-per-page {
    display: none;
  }

  &.show-facets {
    display: inline-block;
  }

  &.hide-facets {
    display: none;

    @media (min-width: 992px) {
      display: inline-block;
    }
  }
}

.btn-filter-toggle {
  background-color: $grsr_red;
  color: $white;
  display: inline-block;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $grsr_soft_grey;
    color: $grsr_darkest_gray;
  }

  @media (min-width: 320px) {
    display: inline-block;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
