.recipes--favorite-list-title {
  @include font-akrobat-bold(48px);
  color: $grsr_red;
  padding-bottom: 32px;
}

.recipes--table-header {
  border-bottom: 1px solid $grsr_soft_grey  ;
  padding: 10px;

  .header-title {
    @include font-akrobat-semibold(28px);
    color: $grsr_red;
  }
}

.recipes--row-item {
  margin-bottom: 15px;
  padding:10px;

  &:hover {
    background-color: $grsr_soft_grey;
    cursor: pointer;
    border-radius: 10px;
  }

  .title {
    display: inline-block;

    & > a {
      @include font-montserrat-regular(20px);
      color: $grsr_dark_grey;
    }
  }

  .item {
    @include font-montserrat-regular(16px);
    color: $grsr_dark_grey;
    height: 50px;
    vertical-align: middle;

    & > div  a {
      color: $grsr_dark_grey;
    }
  }

  .field--name-field-recipe-image > img {
    border-radius: 10px;
    border: 1px solid $grsr_soft_grey;
    width: 70px;
    height: 50px;
  }

}

.item--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-recipes-list {
  .recipe--title {
    display: table-cell;
    height: 50px;
    margin-bottom: 0;
    vertical-align: middle;

    h2 {
      @include font-akrobat-regular(18px);
      border-bottom: 0;
    }
  }

  .title {
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
}