.path-sucursales {

  .main-container > .row > section > .region > .row {
    // row without col !!
    margin-left: 0;
    margin-right: 0;
  }
  .view-filters {
    .form--inline {
      display:flex;
      margin: 0 -.5em;
      > * {
        margin: 0 .5em;
      }
      .form-item-field-sucursal-target-id .select-wrapper {
        width: 100%;
      }
    }
  }
  .view-content article {
    margin: 1.25em 0;
    h2 {
      margin: 0 0 1.1em;
      a {
        font-size: .8em;
        font-family: $font-Akrobat;
        font-weight: $Akrobat-regular;
        color: $grsr_medium_grey;
        text-decoration: none;
        > span {
          padding: 0 1.5em .25em 0;
          border-bottom: solid 1px $grsr_medium_grey;
        }
      }
      + .content {
        .field--label, .field--item {
          &, p, a {
            @include font-montserrat-light($p-font-size);
            color: $grsr_medium_grey;
            font-size: 1em;
          }
        }
        .field--label {
          margin-top: 1em;
          font-weight: $Montserrat-bold;
        }
        .field--item {

        }
      }
    }
  }
}

// details
// looking for
// <article ... about="/node/29" class="branch ..." />
article.branch[about^='/node']{
  > .content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -.5em;
    width: 1000px;
    height: 216px;
    @media (max-width: 425px) {
      height: fit-content;
    }
  }
  .field--name-field-branch, .field--name-field-sucursal {
    &-phones, &-address, &-location, &-imagen {
      overflow: hidden;
      padding: .5em;
    }
    &-phones { order: 2;  flex: 0 0 100%; }
    &-address { order: 1; flex: 0 0 100%; }
    &-location { order: 4; flex: 0 0 100%; }
    &-imagen {
      order: 5; flex: 0 0 100%;
      .field--label { display: none; }
      img { width: 100%; }
    }
    @media (min-width: 768px) {
      .field--name-field-schedule-text { order: 3;  flex: 0 0 25%; }
      &-phones { order: 2;  flex: 0 0 25%; }
      &-address { flex: 0 0 25%; }
      &-location { order: 5; flex: 0 0 66%; }
      &-imagen { order: 4; flex: 0 0 33%; }
    }
  }

  .field--name-field-sucursal-imagen {
    order: 5; flex: 0 0 25%;
  }
}


article.branch.is-promoted.full {
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -.5em;
    width: auto;
    height: auto;
  }
  .field.field--name-field-sucursal-imagen{
    @media (max-width: 425px) {
      flex: 0 0 100%;
    }
  }
}

.field--name-field-schedule-text { order: 3;  flex: 0 0 100%; }
.field--name-field-schedule-text {
  overflow: hidden;
  padding: .5em;
}
@media (min-width: 768px) {
  .field--name-field-schedule-text { order: 3; flex: 0 0 25%; }
}
.field--name-field-branch-phones {
  a {
    color: #6C6D70;
  }
}
