.user-register-form {
  label {
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
    width: 185px;
    position: relative;
    //top: 7px;
  }

  input, textarea, select {
    background: $grsr_soft_grey;
    width: 81%;
  }

  .form-required:after {
    margin-left: 7px;
  }

  .btn-success {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $grsr_red;
    border-color: $grsr_red;
    &:hover {
      background-color: $grsr_red;
      border-color: $grsr_red;
    }
  }

  .form-actions {
    text-align: center;
  }

  .select-wrapper {
    display: inherit;

    &:after {
      content: '\e114' !important;
      margin-right: 5px;
    }
  }

  .field--name-field-user-sex {

    fieldset {
      .fieldset-wrapper {
        position: relative;
        top: -8px;
      }
      legend {
        color: $grsr_dark_grey;
        float: left;
        width: 185px;
        margin-bottom: 0;
        border-bottom: 0;
        margin-left: 10px;
      }
    }
  }

  label[for*="edit-field-user-birthday-0-value-"] {
    width: 0px;
  }

  label[for*="edit-field-user-sex-"] {
    width: 90px;

    input {
      top: -3px;
    }
  }

  #edit-field-user-sex {
    position: relative;
    top: 5px;
  }

}