.user-pass {
  label {
    text-align: left;
    margin-right:15px;
    float:left;
    width: 350px;
    position: relative;
    top: 7px;
  }

  input, textarea, select {
    background: $grsr_soft_grey;
    width: 67%;
  }

  .form-required:after {
    margin-left: 7px;
  }

  .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $grsr_red;
    border-color: $grsr_red;
    &:hover {
      background-color: $grsr_red;
      border-color: $grsr_red;
    }
  }

  .form-actions {
    text-align: center;
  }

}