a.bef-link-active {
  background-color: $grsr_soft_red !important;
  color: white!important;
}

a.form-group {
  background-color: $grsr_soft_red !important;
  color: white!important;
}

.views-exposed-form {
  .form-group > a {
    color: $grsr_dark_grey;
    font-family: $font-Montserrat;
  }
}

.view-display-id-page_search {
  margin-bottom: 50px;
  .views-field-title-1 a {
    @include font-montserrat-regular(24px);
    font-family: "Montserrat", sans-serif !important;
    font-weight: normal !important;
    font-size: 24px !important;
    color: red;
    margin-bottom: 0;
    border-bottom: 1px solid $grsr_dark_grey;
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-top: 15px;
  }
  .views-field-body p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4em;
    text-align: justify;
  }
}
