a,
span {
  &:focus {
    outline: 0;
  }
}
p {
  @include font-montserrat-light($p-font-size);
}
.slide__media ul{
  list-style: none;
}

legend, label {
  @include font-montserrat-regular(16px);
}

#fb5-logo {
  img {
    position: relative !important;
    top: -15px !important;
    width: 41% !important;
  }
}

#panels-ipe-content {
  position: relative;
}