//functoon to calculate rem
@function calculateRem($size) {
  $remSize: $size / $font-size-base;
  @return #{$remSize}em;
}

@mixin font-montserrat-light($size){
  font-family: $font-Montserrat;
  font-weight: $Montserrat-light;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-montserrat-regular($size){
  font-family: $font-Montserrat;
  font-weight: $Montserrat-regular;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-montserrat-semibold($size){
  font-family: $font-Montserrat;
  font-weight: $Montserrat-semibold;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-montserrat-bold($size){
  font-family: $font-Montserrat;
  font-weight: $Montserrat-bold;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-akrobat-regular($size){
  font-family: $font-Akrobat;
  font-weight: $Akrobat-regular;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-akrobat-semibold($size){
  font-family: $font-Akrobat;
  font-weight: $Akrobat-semibold;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-akrobat-bold($size){
  font-family: $font-Akrobat;
  font-weight: $Akrobat-bold;
  //fallback
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
