// Fonts-Family Variables
$fontAwesome: 'FontAwesome';
$font-Akrobat: 'Akrobat', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

// Fonts-Size Variables
$font-size-base: 14px;
$p-font-size: 18px;
// Font-weight
$Montserrat-light: 300;
$Montserrat-regular: 400;
$Montserrat-semibold: 500;
$Montserrat-bold: 700;
$Akrobat-regular: 400;
$Akrobat-semibold: 500;
$Akrobat-bold: 700;
// Line Heights
$base-line-height: 18px;
//Color Variables
//general
$white: #FFF;
$black: #000;

$grsr_red: #CA0828;
$grsr_soft_red: #ff0000;
$grsr_font: #F9E2E6;
$grsr_mustard: #A09500;
$grsr_yellow: #FFEC00;
$grsr_yellow_home: #ffec2c;
$grsr_top_header_grey: #E6E6E6;
$grsr_darkest_gray: #393939;
$grsr_dark_grey: #6C6D70;
$grsr_grey_home: #bbc2c6;
$grsr_medium_grey: #6c6c6c;
$grsr_soft_grey: #e1e1e1;
$grsr_soft_blue: #0585cb;
$footer_bg: #CB0023;
$footer_font: #F9E2E6;
$text_black: #5d5c5c;

//Global Default Settings


//Breakpoints
$breakpoint-xsmall: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 640px;
$breakpoint-xmedium: 768px;
$breakpoint-large: 920px;
$breakpoint-xlarge: 1024px;
$breakpoint-huge: 1024px;
$breakpoint-xhuge: 1200px;

//Mobile screen padding
$mobile-padding-right: 10%;
$mobile-padding-left: 10%;

