<div class="blog-list--info col-md-12">
  <div class="row">
    {% if image is not empty %}
      <div class="blog-list--image">
        {{ image_full }}
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="blog-list--title">
      <h3>{{ title }}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 blog-list--info--area">
      {% if field_grupo_rey_summary is not empty %}
        <div class="blog-list--summary col-xs-12 col-sm-10">
          {{ field_grupo_rey_summary }}
        </div>
        <div class="col-xs-12 col-sm-2 button--container">
          <div class="blog--read-more">
            <a class="btn btn-xs btn-primary"href="{{ path_alias }}">{{ label_button }}</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>