<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('content') }}>
    {% if content.field_grupo_rey_blog_image is not empty %}
      <div class="blog--image">
        {{ content.field_grupo_rey_blog_image }}
      </div>
    {% endif %}

    {{ title_prefix }}
    <div class="blog--title">
      <h2{{ title_attributes }}>
        {{ label }}
      </h2>
      <div>
          {{ title_date }}
      </div>
    </div>
    {{ title_suffix }}

    {% if content.body is not empty %}
      <div class="blog--body">
        {{ content.body }}
      </div>
    {% endif %}

    {% if content.field_grupo_rey_blog is not empty %}
      <div>
        {{ content.field_grupo_rey_blog }}
      </div>
    {% endif %}

    {% if content.field_grupo_rey_blog_image is not empty %}
      <div class="blog--photo-gallery">
        {{ content.field_blog_photo_gallery }}
      </div>
    {% endif %}
  </div>
</article>