<div class="blog-list--info col-md-12">
  <a href="{{ path_alias }}" class="no-underline">
    <div class="row">
      {% if image is not empty %}
        <div class="thumb">
          <div class="overlay">
            <div class="rey-blog-img blog-list--image"> {{ image_full }} </div>
              {% if node.field_grupo_rey_blog.value is not empty %}
                <div class="playWrapper"></div>
              {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class=" blog-list--title">
        <h3>{{ title }}</h3>
        <hr>
      </div>
        <div class=" blog-list--summary">
            {{ fecha }}
        </div>
    </div>
  </a>
</div>