<div class="news-list-thumb-container">
  <a href="{{ path_alias }}">
    {% if image is not empty %}
    <div>
      {{ image_full }}
    </div>
    {% endif %}
    <div class="news-list-details-thumb">
      <div class="news-list-title-thumb">
        <h3>{{ title }}</h3>
      </div>
      <hr>
      <div class="news-list-summary-thumb">
          {{ summary }}
      </div>
    </div>
  </a>
</div>
