<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('content') }}>
    {% if content.field_news_image is not empty %}
      <div class="blog--image">
          {{ content.field_news_image }}
      </div>
    {% endif %}

    {{ title_prefix }}
    <div class="blog--title">
      <h2 {{ title_attributes }} >
        {{ label }}
      </h2>
      <div>
          {{ title_date }}
      </div>
    </div>
    {{ title_suffix }}

    {% if content.body is not empty %}
      <div class="blog--body">
        {{ content.body }}
      </div>
    {% endif %}
  </div>
</article>
