<div class="news-list-item-container">
  {% if image is not empty %}
    <div>
      {% if link is not empty %}
        <a href="{{ link }}" target="_blank">
      {% else %}
        <a href="{{ path_alias }}">
      {% endif %}
        <img class="img-responsive" src="{{ image }}">
      </a>
    </div>
  {% endif %}

  <div class="news-list-details">
    <div class="news-list-title">
      {% if link is not empty %}
        <a href="{{ link }}" target="_blank">
      {% else %}
        <a href="{{ path_alias }}">
      {% endif %}
        <h3>{{ title }}</h3>
      </a>
    </div>
    <div class="news-list-date">
      {{ fecha }}
    </div>
    <hr>
    <div class="news-list-summary">
      {{ summary }}
    </div>
  </div>
</div>
