{#<pre>#}
    {#{{ dump() }}#}
{#</pre>#}
{#<div class="row">#}
    {#<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 recipe-main-display">#}
        {#<div class="block-region-top-left">#}
            {#<section class="views-element-container contextual-region block block-views block-views-blockrecipe-row-top-left-block-top-left-recipes-details clearfix">#}
                {#<article class="contextual-region recipes top-left-recipe-details clearfix">#}
                    {#<div class="content">#}
                        {#<div class="recipe-left-details views-row">#}
                            {#{{ content.field_recipe_image[0] }}#}
                        {#</div>#}
                        {#<div class="views-field flag-recipe-flags">#}
                            {#<div class="views-field views-field-field-recipe-rating">#}
                                {#<div class="field-content">#}
                                    {#<div class="rating--text">Calificación</div>#}
                                    {#{{ content.field_recipe_rating }}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</article>#}
            {#</section>#}
        {#</div>#}
    {#</div>#}

    {#<div class="recipe--ingredients col-xs-12 col-sm-12 col-md-3 col-lg-3">#}
        {#<div class="block-region-top-right">#}
            {#<section class="block block-fieldblock block-fieldblocknode clearfix">#}
                {#<h2 class="block-title">Ingredientes</h2>#}
                {#<div class="field--label sr-only">Ingrediente</div>#}
                {#<div class="field field--name-field-recipe-ingredients field--type-field-collection field--label-hidden field--items">#}
                    {#{{  content.field_recipe_ingredients }}#}
                {#</div>#}
            {#</section>#}
        {#</div>#}
    {#</div>#}

    {#<div class="recipe--stats col-xs-12 col-sm-12 col-md-3 col-lg-3">#}
        {#<div class="block-region-top-right-lower">#}
            {#<section class="block block-fieldblock block-fieldblocknode clearfix">#}
                {#<h2 class="block-title">PREP.</h2>#}
                {#{{ content.field_recipe_time_preparation }}#}
            {#</section>#}

            {#<section class="block block-fieldblock block-fieldblocknode clearfix">#}

                {#<h2 class="block-title">Dificultad</h2>#}
                {#{{ content.field_recipe_difficulty }}#}

            {#</section>#}

        {#</div>#}
    {#</div>#}

    {#<div class="recipe--stats col-xs-12 col-sm-12 col-md-3 col-lg-3">#}
        {#<div class="block-region-top-right-lower-bottom">#}
            {#<section class="block block-smrey-custom-sharethis block-smrey-custom-sharethis-block clearfix">#}

            {#</section>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div class="row">#}
    {#<section class="recipe--directions">#}
        {#<div class="col-xs-12 col-md-6">#}
            {#<div class="block-region-recipe-directions">#}
            {#<section class="block block-fieldblock block-fieldblocknode clearfix">#}
                {#<div class="recipe--title">#}
                    {#<h2>#}
                        {#{{ node.title.value }}#}
                    {#</h2>#}
                {#</div>#}
            {#</section>#}
            {#<section class="block block-fieldblock block-fieldblocknode clearfix">#}
                {#{{ content.field_recipe_preparation }}#}
            {#</section>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-xs-12 col-md-6">#}
            {#<div class="block-region-recipe-steps">#}
                {#<section class="views-element-container contextual-region block block-views block-views-blockrecipe-steps-block-recipe-steps clearfix">#}
                    {#<div class="col-xs-12 col-sm-6 recipe--steps-item">#}
                        {#{{ content.field_recipe_image[0] }}#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
{#</div>#}
{#<div class="row">#}
    {#<section class="recipe--comments">#}
        {#<div class="col-xs-12 col-md-6">#}
            {#{{ content.field_recipe_comments }}#}
        {#</div>#}
    {#</section>#}
{#</div>#}
