// Capabilities Icons
.node__capabilities,
.halves__capabilities {
  display: flex;
  flex-direction: row nowrap;
  margin-bottom: px-to-rem(24);

  .cards--capability {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
    margin-right: 1rem;

    a{
      text-decoration: none;
    }

    .cards__icon  {
      font-size: px-to-rem(48);
      color: rgba($c-offblack, 0.5);
      margin-left: 0;
      margin-right: 0;
    }

    .cards__label {
      color: $c-orange;
      font-size: px-to-rem(8.8);
      letter-spacing: px-to-rem(0.4333);
      line-height: 1.1;
      position: absolute;
      top: 95%;
      left: 50%;
      padding-bottom: 0;
      transition: opacity $ease-1;
      transform: translateX(-50%);
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      font-weight: 300;
    }

    @include is-active {

      .cards__icon {
        color: $c-orange;
        transform: scale(1.1, 1.1);
      }

      .cards__label {
        opacity: 1;
      }
    }
  }
}

// Global code for capabilities when printing font.
@each $capability-label, $capability-icon in $capabilities {
  .cards--capability--#{$capability-label} {
    .cards__icon,
    .icon-card__icon {  
      @include icon($capability-icon);
    }
  }
}

// View mode: icon_card
.icon-card--capability {
  display: flex;
  margin-bottom: px-to-rem(16);
  align-items: center;
  border-bottom: 2px none $c-white;
}

.icon-card__icon {
  font-size: px-to-rem(28);
  color: $c-white;
  margin-left: -px-to-rem(2);
  margin-right: px-to-rem(10.4);

  @include bp($bp-sm) {
    font-size: px-to-rem(32);
  }
}