// Used for News Articles.
.cards__tile {
  max-width: 100%;
  min-width: 50%;
  display: inline-block;
  min-height: auto;
  width: 100%;
  padding: 4rem 5%;
  flex: 1;
  transition: $ease-3;
  cursor: pointer;
  background-blend-mode: multiply;
  background-color: rgba($c-offblack, .6);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @include bp($bp-lg) {
    min-height: 50vh;
    min-width: 33.3333%;
  }
}

.cards__tile:hover {
  background-color: $c-blue-md;
  width: 200%;
}

.cards__tile a {
  color: $c-white;
  text-decoration: none;
}

.cards--capability {
  display: flex;
  margin-bottom: px-to-rem(16);
  align-items: center;
  border-bottom: 2px none $c-white;
}

.cards__label,
.icon-card__label {
  display: block;
  padding-bottom: px-to-rem(4.5);
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  border-bottom: 2px solid rgba($c-white, .6);
  font-weight: $font-weight-bold;
  letter-spacing: px-to-rem(1.2);
}