// Colors variables
// Color variables should start with 'c-'
// It may often be helpful to include the RGB values in a comment next to each
// for ease of interpretation when prototypes use RGB or RGBA
// Examples:
$c-black:       #000000; // rgb(0, 0, 0)
$c-white:       #ffffff; // rgb(255, 255, 255)
$c-offblack:    #1d212c; // rgb(29, 33, 44)
$c-orange:      #ff4611; // rgb(255, 70, 17)
$c-orange-lt:   #fd9d34; // rgb(253, 157, 52);
$c-orange-dk:   #e02e0f; // rgb(224, 46, 15);
$c-orange-dk-2: #941909; // rgb(148, 25, 9);
$c-blue-lt:     #268ce2; // rgb(38, 140, 226);
$c-blue-md:     #5785ac; // rgb(87, 133, 172);
$c-blue-dk:     #001a71; // rgb(0, 26, 113);
$c-gray:        #c1d3d3; // rgb(193, 211, 211);
$c-success:     #199121; // rgb(25, 145, 33)

$c-text: $c-offblack;

$social-colors: (
  twitter: #4099ff,
  linkedin: #0077b5,
  facebook: #3B5998,
  googleplus: #C63D2D,
  pinterest: #cb2027,
  youtube: #cd201f,
  instagram: #fb3958
);

// Capabilities
// Used in Capabilites Landing page for the nav
$capabilities: (
  autonomous-systems: autonomous,
  biomedical-solutions: biomedical,
  fault-tolerant-systems: fault-systems,
  human-centered-solutions: human-centered,
  image--data-analytics: image-data,
  image-amp-data-analytics: image-data,
  materials-engineering--microfabrication: materials-engineering,
  positioning-navigation--timing: positioning,
  microsystems: microsystems,
  precision-instrumentation: precision,
  secure--assured-systems: secure-systems
);


// Font-related variables
// Font variables should start with 'font-'
// Replace any/all values as appropriate
$font-family-serif:  'Georgia', serif;
$font-family-sans:   'proxima-nova', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-family-icons:  'x-icons';

$font-size-base: 17.6; // The default font size for your site. This gets used in
// the px-to-em() function used sitewide.
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoint variables
// Breakpoint variables should start with 'bp-'
// Examples, change as necessary:
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 960px;

// Z-index variables
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  header: 100,
  overlay: 9000,
);

// Susy grid default example
// See documentation at http://oddbird.net/susy/docs/
$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

//
// Easing
//
$ease-1: 300ms ease;
$ease-2: 220ms ease;
$ease-3: all 500ms ease;