{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{% set classes = ['capability'] %}
{% set classes_cards = [
  'cards',
  'cards--capability',
  'cards--capability--'~ content.field_capabilities_title.0|render|clean_class
  ] 
%}
{% set classes_icon = [
  'capabilities-nav__icon',
  'capabilities-nav__icon--'~ content.field_capabilities_title.0|render|clean_class
  ] 
%}
{% set classes_icon_card = [
  'cards',
  'icon-card',
  'icon-card--capability',
  'cards--capability--'~ name.0|render|clean_class
  ]
%}
{# Used for Bricks: Halves, News article: Default. #}
{% if (view_mode == "cards") %}
  <div{{ attributes.addClass(classes_cards) }}>
    <a href="/core-capabilities#{{ term.id }}">
      <div class="cards__icon">
      </div>
    </a>
    <h6 class="cards__label">{{ name }}</h6>
  </div>
{# Used for Capabilities landing page view top nav. #}
{% elseif (view_mode == "icon") %}
  <div class="capabilities-nav__item">
    <div class="views-field-field-capabilities-title">
      {{ content.field_capabilities_title }}
    </div>
    <div class="views-field-field-capabilities-icon">
      <a href="#{{ term.id }}">
        <div {{ attributes.addClass(classes_icon) }}>    
        </div>
      </a>
    </div>
  </div>
{# Used for News articles: teaser. #}
{% elseif (view_mode == "icon_card") %}
  <div{{ attributes.addClass(classes_icon_card) }}>
    <div class="icon-card__icon"></div>
    <h6 class="icon-card__label">{{ name }}</h6>
  </div>
{% else %}
  <div{{ attributes.addClass(classes) }} id={{ term.id }}>
    {% if not page %}
      <div class="halves halves--capability">
        <div class="halves__media">
          {{ content.field_capabilities_icon }}
        </div>
        <div class="halves__content">
          <h2 class="halves__title">
            {{ name }}
          </h2>
          <div class="halves__body-text">
            {{ content.field_capabilities_summary }}
          </div>
          <div class="halves__cta">
            {{ content.field_capabilities_cta }}
          </div>
        </div>
      </div>
    {% else %}
      {{ title_prefix }}
      {{ title_suffix }}
      {{ content }}
    {% endif %}
  </div>
{% endif %}