{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}
<div class="row">
  <h1>Sucursales</h1>
    <div class="row">
      <div class="col-md-12">
        {{ content.main_tab_1 }}
      </div>
      <div class="col-md-6">
        <h2>{{ 'Seleccione una sucursal'|trans }}</h2>
        <div class="sucursal--stats">
        </div>
        <div class="branch--details">
          <a href="#" class="btn btn-danger nearest-rey">
            <div class="loading-nearest">
              {#<img src="/themes/custom/gruporey/img/loading.gif">#}
              <div class="cssload-loader"></div>
            </div>
            <span>{{ 'Ir a mi Rey más cercano'|trans }}</span>
          </a>
          {{content.lower_left}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="branch--photo">
          {{content.lower_right}}
        </div>
      </div>
    </div>
</div>