{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}

<div class="container">
    {# Lower Blocks #}
    <div class="row lower--block">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="lower--block-left">
                {{ content.lower_left_block }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="lower--block-center">
                {{ content.lower_center_block }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="lower--block-right">
                {{ content.lower_right_block }}
            </div>
        </div>
    </div>
</div>