<div class="row">
  <div class="col-xs-12">
    {{ content.attachment }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-9">
    {{content.content}}
  </div>
  <div class="col-xs-12 col-sm-3">
    {{content.sidebar}}
  </div>
</div>