{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}
<div class="row products" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="col-md-3 products-filter">
        {{ content.left }}
    </div>
    <div class="col-md-9 products-list">
        {{ content.right }}
    </div>
</div>