{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}
	<div class="row">
		<div class="col-lg-12 block--bef">
			{{ content.exposed_filters }}
		</div>
	</div>

	<div class="row two-column-container">
		<div class="col-left-adjustments col-xs-12 col-sm-12 col-md-8 col-lg-8">
			{{content.main}}
		</div>
		<div class="publicidad-align col-xs-12 col-sm-12 col-md-4 col-lg-4">
			{{content.side}}
		</div>
	</div>

