<main role="main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 recipe-main-display">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {{ content.top_left }}
    </div>

    <div class="recipe--ingredients col-xs-12 col-sm-12 col-md-3 col-lg-3">
      {{content.top_right}}
    </div>

    <div class="recipe--stats col-xs-12 col-sm-12 col-md-3 col-lg-3">
      {{content.top_right_lower}}
    </div>

    <div class="recipe--stats col-xs-12 col-sm-12 col-md-3 col-lg-3">
      {{content.top_right_lower_bottom}}
    </div>
  </div>
</main>

<div class="row">
  <section class="recipe--directions">
    <div class="col-xs-12 col-md-6">
      {{ content.recipe_directions }}
    </div>
    <div class="col-xs-12 col-md-6">
      {{ content.recipe_steps }}
    </div>
  </section>
</div>

<div class="row">
  <section class="recipe--comments">
    <div class="col-xs-12 col-md-6">
      {{ content.comments }}
    </div>
  </section>
</div>