.blog--body {
  margin-bottom: 20px;
}

.blog--image div > img {
  width: 100%;
}

.blog--title {
  display: inline-block;
  width: 100%;

  h2 {
    @include font-akrobat-semibold(24px);
    border-bottom: 1px solid $grsr_dark_grey;
    color: $grsr_darkest_gray;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-top: 15px;
  }
  a{
    color: red !important;
  }

  div {
    float: right;
    padding: 44px 0 0 0;
  }
}

.field--name-body {
  @include font-montserrat-regular(14px);
  line-height: 1.4em;

  .field--item p {
    margin-bottom: 38px;
    line-height: 1.4em;

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.blog--photo-gallery {
  margin-top: 20px;
  .slick img {
    width: 100%;
  }
}

.page-node-type-grupo-rey-blog {
  .blog {
    width: 100%;
  }

  .publicidad-align {
    margin-top: 0 !important;
  }
}