//Form
#views-exposed-form-grupo-rey-blog-list-block-blog-list {
  .form-item {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.block--bef {
  .form-group a {
    color: $grsr_dark_grey;
    padding: 18px;
    background-color: #e1e1e1;
    border-radius: 10px;
  }

  .form-inline {
    background-color: #ededed;
    padding: 20px 20px 0;
    margin-top: 10px;
  }
}
// View
.view-content {
  .blog.views-row {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 768px) {
      &:nth-of-type(2n+1) {
        padding-right: 15px;
      }

      &:nth-of-type(2n) {
        padding-left: 15px;
      }
    }

    @media (min-width: 992px) {
      &:nth-of-type(2n+1) {
        clear: left;
      }
    }
  }
}
.attachment.attachment-before {
  .blog.views-row {
    padding-left: 0;
    padding-right: 0;
  }
}


.blog-content-container{
  padding-left: 5.5%;
  padding-right: 5.5%;
}

.two-column-container{
  margin: 12px 0 12px 0;
}

.ad-left-padding{
  padding-left: 5px !important;
}

.ad-right-padding{
  padding-right: 5px !important;
}

.blog--read-more {
  float: right;

  a.btn {
    padding: 5px 11px 5px 11px;
    border-radius: 10px;
    background-color: $grsr_soft_red;
    margin-top:5px;
    border-color: $grsr_soft_red;
  }
}

.button--container {
  padding-left: 0;
  padding-right: 0;
}

.blog-list--title {
  display: block;
  margin-bottom: 12px;

  h3 {
    @include font-akrobat-semibold(24px);
    color: $grsr_darkest_gray;
    text-align: center;
    line-height: 1.3em;
    padding: 0 3% 3% 3%;
  }

  hr{
    width:50%;
    border-top:1px solid $grsr_dark_grey;
    margin-top: 2%;
    margin-bottom: 2%;
  }

}

.blog-list--summary {
  @include font-montserrat-light(16px);
  line-height: 1.6em;
  padding-left: 0;
  padding-right: 0;
  color: $grsr_dark_grey;
  text-align: center
}

.no-underline:hover {
  text-decoration: none;
}

.blog {
  margin-bottom: 20px;
}

.blog--list-paginator {
  position: absolute;
  right: 0;
  top: -11px;
}

.blog-list--image img {
  width: 100%;
}

.blog-list--hr hr {
  color: red !important;
  width: 220px;
  border-top: 2px solid $grsr_dark_grey;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.blog-list--info {
  padding-bottom: 6%;
}

.blog-list--info--area {
  padding-left: 0;
  padding-right: 0;
}

.block--bef .view-header {
  @include font-montserrat-regular(14px);
  border-bottom: 1px solid $grsr_dark_grey;
  padding-bottom: 8px;
}

.thumb {
  // display: flex;
  flex-wrap: wrap;
  list-style: none;
}

//Overlay for video
.overlay {
  position: relative;
}

.overlay .rey-blog-img {
  display: block;
}

.overlay .playWrapper {
  opacity: 0.8;
  position: absolute; z-index: 100;
  top: 0;
  width: 100%; height: 100%;
  background: url("/themes/custom/gruporey/img/play-button.png") no-repeat scroll center center / 28% 28%;
}

.path-blog .col-left-adjustments{
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  .block--bef {
    .form-group a {
      display: inline-table !important;
      width:100%;
    }
    nav.pager-nav.pull-right {
      position: relative;
      top: -39px;
    }
  }

  .recipe {
    padding:0;
  }
}

@media screen and (max-width: 991px) {
  .blog-list--info .thumb {
    padding-left: 24%;
    padding-right: 22%;
  }
  .view-grupo-rey-blog-list .view-content {
    padding-left: 0;
  }
}

@media screen and (min-width: 320px) {
  .blog-list--info .thumb {
    padding-left: 0;
    padding-right: 0;
  }
}
