.nearest-rey {
  display: block;
  background-color: $grsr_red;
  border-color: $grsr_red;
  padding: 7px;
  position: absolute;
  right: 64px;
  z-index: 1;

  &:hover {
    background-color: $grsr_red;
    border-color: $grsr_red;
  }

  .loading-nearest {
    display: none;
    float: left;

    img {
      height: 26px;
      width: 26px;
      margin-right: 5px;
    }
  }
}

.form-item.js-form-item.form-type-select.js-form-type-select.form-item-field-sucursal-target-id.js-form-item-field-sucursal-target-id.form-no-label.form-group {
  display: block;
}

.block-views-blockduplicado-de-maps-sucursales-gruporey-branch-image,
.block-views-blockduplicado-de-maps-sucursales-gruporey-branch-map-location {
  .view-filters {
    display: none;
  }
}

.branch--details .view-content,
.branch--photo .view-content {
  display: none;
}

.branch--details .form-item-field-sucursal-target-id {
  .select-wrapper {
    width: 50%;

    select {
      width: 100%;
    }
  }
}
.branch--photo {
  margin-top: 35%;
}

.field--name-field-sucursal-imagen {
  margin-bottom: 76px;
  img {
    width: 46%;
  }
}

@media screen and (max-width: 1024px) {
  .nearest-rey {
    position: relative;
    right: 0;
    bottom: 0;
    height: fit-content;
  }
  .branch--details {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .branch--details .form-item-field-sucursal-target-id {
    .select-wrapper {
      width: 100%;
      select {
        width: 100%;
      }
    }
  }
}

.branch--details {
  .view-content {
    margin-top: 40px;
  }

  .branch-title {
    span {
      @include font-akrobat-bold(24px);
      border-bottom: 1px solid $grsr_medium_grey;
      display: inline-block;
      margin-bottom: 20px;
      padding-bottom: 15px;
      padding-right: 20px;
    }
  }

  .branch-location {
    .field__items {
      @include font-montserrat-light(14px);
    }
    margin-bottom: 20px;
  }

  .branch-address {
    margin-bottom: 20px;

    .field--item {
      p.address {
        span {
          @include font-montserrat-light(12px);
        }
      }
    }
  }

  .branch-phones {
    .field--item {
      @include font-montserrat-light(14px);
    }
  }

  .branch-mobile-button {
    @include font-montserrat-light(14px);
    padding: 0 10px 0 10px;
    margin: 15px 0 15px 0;

    .btn{
      background-color: red;
      border-radius: 0;
      border-color: red;
    }

    a {
      color: white;
    }

  }
}

.cssload-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  //margin: 2em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background:rgb(255,255,255);
  margin-right: 8px;
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
  animation: 0.8s infinite ease-in-out;
  -o-animation: 0.8s infinite ease-in-out;
  -ms-animation: 0.8s infinite ease-in-out;
  -webkit-animation: 0.8s infinite ease-in-out;
  -moz-animation: 0.8s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.cssload-loader { animation-name: cssload-loader;
  -o-animation-name: cssload-loader;
  -ms-animation-name: cssload-loader;
  -webkit-animation-name: cssload-loader;
  -moz-animation-name: cssload-loader; }


@keyframes cssload-loader {
  from { transform: scale(0); opacity: 1; }
  to	 { transform: scale(1); opacity: 0; }
}

@-o-keyframes cssload-loader {
  from { -o-transform: scale(0); opacity: 1; }
  to	 { -o-transform: scale(1); opacity: 0; }
}

@-ms-keyframes cssload-loader {
  from { -ms-transform: scale(0); opacity: 1; }
  to	 { -ms-transform: scale(1); opacity: 0; }
}

@-webkit-keyframes cssload-loader {
  from { -webkit-transform: scale(0); opacity: 1; }
  to	 { -webkit-transform: scale(1); opacity: 0; }
}

@-moz-keyframes cssload-loader {
  from { -moz-transform: scale(0); opacity: 1; }
  to	 { -moz-transform: scale(1); opacity: 0; }
}
