.breadcrumbs {
  @include font-montserrat-light(14px);
  background-color: $grsr_top_header_grey;

  .breadcrumb {
    background-color: $grsr_top_header_grey;
    margin-bottom: 0;
    padding: 8px 0 8px 8px;

    li a {
      color: $grsr_red;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $grsr_red;
      }
    }
  }
}