.hero-overlay{
  display:none;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(169, 169, 169, .8);
  top: 0;
  left: 0;
  padding: 10px;
  #busqueda_form_wrapper {
    label {
      display: none;
    }
    #edit-submit-search {
      height: 50px;
      width: 50px;
    }
  }
}

.hero-region-overlay{
  position: relative;
}

.hero-overlay #edit-search-api-fulltext{
  width: 102%;
  height: 50px;
  font-size: x-large;
}

.hero-overlay #edit-submit-view-busqueda-site{
  height: 50px;
  width: 50px;
}

.block-views-exposed-filter-blockview-busqueda-site-block-busqueda-site,
.block-views-exposed-filter-blocksearch-page-search {
  z-index: 20;
  opacity: 1 !important;
  top:40%;
  position: relative !important;
}

#views-exposed-form-view-busqueda-site-block-busqueda-site,
#views-exposed-form-search-page-search {
  text-align: center;
  .form-inline {
    padding: 20px 20px 20px;
  }
}

.busqueda-button{
  background: url("/themes/custom/gruporey/img/busqueda-lupa.png") no-repeat center/25px 25px;
  width: 40px;
  height: 34px;
  border-radius: 0;
  background-color: $white;

  &:hover {
    background-color: $white;
  }
}

#edit-search-api-fulltext{
  border-radius: 0;
  background-color: white;
  @include font-montserrat-regular(15px);
}

.block-views-blockview-busqueda-site-block-busqueda-site{
  .block-title{
    display: none;
  }
}

.presentacion-search-editorial{
  .field--name-field-summary{
    @include font-montserrat-light(18px);
    color: $grsr_dark_grey;
  }
}

.presentacion-search-novedades{
  .field--name-body{
    @include font-montserrat-light(18px);
    line-height: 1em;
    color: $grsr_dark_grey;
  }
}

.presentacion-search-editorial,
.presentacion-search-novedades{
  h2{
    @include font-akrobat-regular(24px);
    color: $grsr_darkest_gray;
    margin-bottom: 20px;
  }
  a{
    color: red;
  }
}

.presentacion-search-recetas{
  .recipe--title{
    padding-bottom: 20px;
    h2 {
      @include font-montserrat-regular(24px);
      font-size: 24px !important;
      color: red;
      margin-bottom: 1px;
      padding-bottom: 15px;
    }
  }
  h2{
    margin-bottom: 0;
  }

  .field--name-field-summary-home{
    @include font-montserrat-light(18px);
    color: $grsr_dark_grey;
  }
}

.presentacion-search-editorial,
.presentacion-search-novedades,
.presentacion-search-recetas.recipe--title,
.presentacion-search-product.field--name-title{
  h2{
    border-bottom: 1px solid $grsr_dark_grey;
    display: inline-block;
    padding-bottom: 15px !important;
    padding-right: 30px;
    padding-top: 15px;
  }
}

.presentacion-search-product{
  .field--name-title{
    @include font-montserrat-regular(24px);
    font-family: "Montserrat", sans-serif !important;
    font-weight: normal !important;
    font-size: 24px !important;
    color: red;
    margin-bottom: 0;
    border-bottom: 1px solid $grsr_dark_grey;
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-top: 15px;
  }
  .field--name-field-product-brand{
    margin-top: 20px !important;
    color: $grsr_dark_grey;
    a{
      pointer-events: none;
      cursor: default;
      color: $grsr_dark_grey;
    }
  }
}

.field--name-field-product-category,
.field--name-field-recipe-category,
.field--name-field-news-category,
.field--name-field-editorial-type,
.presentacion-search-blog-category{
  margin-top: 10px;
  a,.field--item{
    @include font-montserrat-regular(14px);
    font-family: "Montserrat", sans-serif !important;
    font-size: 14px !important;
    pointer-events: none;
    cursor: default;
    color:darkgray;
  }
}

ul[data-drupal-facet-alias="facet_tipo_de_contenido"],
ul[data-drupal-facet-alias="facet_tipo_de_producto"]{
  input[type="checkbox"] {
    margin-right: 6px;
  }
}

#block-formularioexpuestosearchpage-search-2 {
  background-color: #ededed;
  label {
    display: none;
  }
  margin-bottom: 25px;
}