.custom-newsletter-form {
  background-color: darkgray;
  padding: 2% 1% 2% 1%;
  margin: 10px 1px 30px 1px;

  .title {
    @include font-akrobat-bold(24px);
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
  }

  .email-section {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .email {
    padding: 0;
    margin-bottom: 5px;
    .form-control{
      border-radius:0;
    }
  }

  .submit {
    padding: 0;
    .btn{
      @include font-montserrat-regular(14px);
      border-radius:0;
    }
    .btn-primary {
      background: url("/themes/custom/gruporey/img/right-arrow-thick.png") no-repeat 87px center/11px 17px;
      width:110px;
      text-align: left;
      background-color: red;
      border-color: red;
    }
  }
}

@media screen and (max-width: 767px){
  .custom-newsletter-form .email-section{
    padding-left: 0% !important;
    margin-top: 8px;
    width: 96%;
  }
}

$maxWidth: 800px;
$maxHeight: 500px;
$minWidth: 320px;
$minHeight: 400px;

.newsletter-modal-link {
  display:none;
}

.modal-form-container {
  width: 689px;
  height: 30%;
}

.html-modal-container {
  height:100%;
}

.modal-picture-column{
  padding:0 !important;
}

.modal-column-form{
  height: $maxHeight;
  padding: 33px;
  border: 18px solid lightgrey;
}

.modal-email-container{
  height: 100%;

  .row {
    height: 100%;
    padding-right: 2px;
  }

  .row-email-container {
    height: 100%;
    margin-right: -30px;
    margin-left: -25px;

    section {
      height:100%;
      padding:0;
    }
  }

}

.colorbox-modal-form {
  #cboxTopLeft,
  #cboxTopCenter,
  #cboxTopRight,
  #cboxMiddleLeft,
  #cboxMiddleRight,
  #cboxBottomLeft,
  #cboxBottomCenter,
  #cboxBottomRight {
    height: 0 !important;
    width: 0 !important;
  }

  #cboxTitle {
    padding: 0 !important;
  }

  #cboxLoadedContent {
    margin-bottom: 0 !important;
    height: 100% !important;
    width: $maxWidth !important;
  }

  #cboxContent{
    height: $maxHeight !important;
    width: $maxWidth !important;
    #cboxClose {
      background: url(../img/x-mark-newsletter.png)  !important;
      background-size: 100% !important;
      top: 33px !important;
      right: 36px !important;
      width: 30px !important;
      height: 30px !important;
    }
  }

  @media screen and (max-width: 881px) {
    #cboxContent,
    #cboxLoadedContent{
      width: $minWidth !important;
    }
    .modal-column-form{
      height: $minHeight !important;
    }
    #colorbox{
      widows: $minWidth !important;
    }
  }
}

.newsletter-modal-container{
  width: 100%;
  height: 100%;
  text-align: center;
  .newsletter-modal-title{
    @include font-montserrat-regular(30px);
  }
  .newsletter-modal-subtitle{
    @include font-montserrat-regular(14px);
    margin-bottom: 12%;
  }
  #edit-client-email{
    height: 52px;
    text-align: center;
    border-radius: 0;
    border-color: darkgray;
    @include font-montserrat-regular(16px);
  }
  #edit-send-modal-button{
    height: 48px;
    width: 40%;
    background: red;
    border-radius: 6px;
    color: white;
    @include font-montserrat-regular(16px);
  }
  .form-item-client-email{
    padding-right: 15px;
    padding-left: 15px;
  }
  .form-item-agreement-check-box{
    margin-top: 9%;
  }
  .control-label{
    @include font-montserrat-regular(12px);
  }
  input[type=checkbox] {
    transform: scale(1.8);
    margin-left: -25px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 540px){
  .newsletter-modal-container{
    .newsletter-modal-title{
      @include font-montserrat-regular(20px);
    }
    #edit-send-modal-button{
      @include font-montserrat-regular(14px);
    }
  }
  #cboxContent{
    width: 320px !important;
  }
}
