.flex-html-container {
  position: absolute;
  bottom: 25%;
  .panel-container {
    height: 100%;
    h1 {
      margin-top: 10%;
      color: black;
    }

    .html-container {
      position: relative;
      top: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .top-text-red {
        h1 {
          div {
            color: red;
          }
        }
      }
      .top-text-yellow {
        h1 {
          div {
            color: $grsr_yellow_home;
          }
        }
      }
      .top-text-white {
        h1 {
          div {
            color: $white;
          }
        }
      }
      .top-text-black {
        h1 {
          div {
            color: $black;
          }
        }
      }

      .center-text-red {
        h1 {
          div {
            color: red;
          }
        }
      }
      .center-text-yellow {
        div {
          color: $grsr_yellow_home;
        }
      }
      .center-text-white {
        div {
          color: $white;
        }
      }
      .center-text-black {
        div {
          color: $black;
        }
      }
      .slider-header-container {
        width: 40%;
        .field.field--type-string.field--label-hidden.field--item {
          text-align: left;
          font-size: 32px;
          font-weight: bold;
          font-family: $font-Montserrat;
          text-transform: uppercase;
        }
        @media screen and(max-width: 475px){
          .field.field--type-string {
            font-size: 12px;
          }
        }
      }
      @media (max-width: 767px) {
        .slider-header-container {
          width: 70%;
        }
      }

      .slider-body-container {
        width: 40%;
        margin: 20px 0 20px 0;
        color: black;
        .field.field--type-string.field--label-hidden.field--item {
          font-size: 18px;
          font-weight: 800;
          text-align: left;
          font-family: $font-Montserrat;
        }
      }
      .field.field--name-field-descri
      .slider-button-container {
        width: 40%;
        button.btn {
          background-color: #FC0D1B;
          .field.field--type-string.field--label-hidden.field--item {
            font-weight: bold;
            font-size: 16px;
            font-family: $font-Montserrat;
          }
        }
      }

      &.align-slider-content-left {
        align-items: flex-start;
      }

      &.align-slider-content-right {
        align-items: flex-end;
      }

      &.align-slider-content-center {
        align-items: center;
      }
    }
  }
  @media (max-width: 767px) {
    .panel-container {
      padding-right: 20px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
