.page-footer {
  background-image: url('../assets/Background(1).png');
  background-size: cover;
  background-repeat: no-repeat;

  .footer-elements-container {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    padding: 50px 0 50px;
    > * {
      float: none;
      padding: 0 25px;
      @media (min-width: 768px) {
        flex: 0 0 33%;
        padding: 0 10px;
      }
      @media (min-width: 1024px) { 
        flex: 1; 
      }
    }

    // logo
    .footer-logo-container {
      margin: 0;
      @media (min-width: 768px) {
        flex: 0 0 33%;
      }
      a.rey-logo-home {
        display: inline-block;
        width: 250px;

        @media (min-width: 768px) {
          width: 100%;
        }

        &:hover {
          background-color: transparent;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

// nav blocks
#block-nosotros-footer,
#block-contactenos,
#block-novedadesfooter,
#block-ofertasfooter {
  h2 { display: none; }
  a.footer-home-link { font-size: 18px; }
  li.first a,
  a.footer-head-item {
    font-weight: bold;
    font-size: 20px;
    &:not(.fa) {
      font-family: $font-Montserrat;
    }
  }
  li {
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      color: $footer_font;
      &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
#block-contactenos,
#block-novedadesfooter,
#block-ofertasfooter,
#block-socialmediaiconsfooter {
  padding-top: 40px;
}

#block-novedadesfooter {
  @media (min-width: 768px) { order: 5; }
  @media (min-width: 1024px) { order: 4; }
}
#block-ofertasfooter{
  @media (min-width: 768px) { order: 6; }
  @media (min-width: 1024px) { order: 5; }
}
#block-socialmediaiconsfooter {
  @media (min-width: 768px) { order: 4; }
  @media (min-width: 1024px) { order: 6; }
}

// social
#block-socialmediaiconsfooter {
  @media (min-width: 768px) { padding-top: 0; }
  @media (min-width: 1024px) {
    flex: 0 0 100%;
  }
  .menu--social-media-icons-footer {
    display: flex;
    justify-content: center;
    @media (min-width: 1024px) { justify-content: flex-end; }
    width: 100%;
    margin-top: 40px;
    a.twitter-footer-icon,
    a.youtube-footer-icon,
    a.facebook-footer-icon,
    a.instagram-footer-icon {
      margin-left: 20px;
      background-color: #fff;
      border-radius: 35px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #C34D34;
      font-size: 17px;
      font-weight: bolder;
    }
  }
}

.footer-lower {
  margin-top: 0px;
  border: none;
  background-color: #FEEA44;
  padding-top: 5px;
  padding-bottom: 5px;
  .copy-right { font-size: 14px; }
}
