.social-menu {
  
  justify-content: flex-end;
  flex-direction: row-reverse;
  > li {
    flex: 0 1 auto;
    > a {
      color: #6C6D70;
    }
  }

  li {
    &:not(:first-child) { margin-right: 1em; }
    a {
      width: 28px;
      height: 28px;
      background: $grsr_dark_grey;
      color: $grsr_top_header_grey;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.fa.fa-twitter {
        background-color: #59ADEB;
      }
      &.fa.fa-instagram {
        background-color: #41749A;
      }
      &.fa.fa-facebook {
        background-color: #3D5A96;
      }
      &.fa.fa-youtube-play{
       background-color: #C80C2C;
      }
      &:hover,
      &:focus {
        color: $grsr_top_header_grey !important;
        text-decoration: none;
        background-color: $text_black;
      }
    }
  }

  .menu-vertical-line {
    border-left: 1px solid #6C6D70;
    margin-left: 16px;
  }

}
