$navbar-bp: 1100px;
$navbar-max-width: 1000px;
$navbar-red-font: #C8102E;
header.navbar {

  min-height: 60px;
  margin-bottom: 0;
  background-color: $grsr_red;
  border-width: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  @include box-shadow(3px, 0, 10px, rgba(0,0,0,.2));

  // wrapper for logo and socials
  .region-header-lower {
    padding: 0 1em;
    > nav {
      .header-logo-container {
        a {
          display: block;
          position: relative;
          width: 120px;
          height: 60px;
        }
        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 150%;
        }
      }
      .social-menu {
        display: none;
      }
    }
  }

  // menu toggle
  .navbar-header {
    padding: 0 1em;
    margin-left: auto;
    align-self: center;
    @media (min-width: 768px) {
      display: block;
    }

    @media (max-width: 425px) {
      display: block;
    }
    .navbar-toggle {
      @media (min-width: 768px) {
        display: block;
      }
      float: none;
      width: 55px;
      margin: 0;
      border-color: transparent;
      background-color: transparent;
      &[aria-expanded=true] {
        .icon-bar:nth-child(2) {
          transform: translateY(-2px) translateX(8px) rotate(45deg);
        }
        .icon-bar:nth-child(4) {
          transform: translateX(8px) rotate(-45deg);
        }
        .icon-bar:nth-child(3) {
          opacity: 0;
        }
      }
      .icon-bar {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: white;
        transition: transform .2s, opacity .2s;
        &:nth-child(2) {
          transform-origin: 0 0;
        }
        &:nth-child(4) {
          transform-origin: 0 100%;
        }
      }
    }
  }

  // menu container
  #navbar-collapse {
    flex: 0 0 100%;
    padding: 0;
    background-color: white;
    border-width: 0;
    @media (min-width: 768px) and (max-width: $navbar-bp) {
      &.navbar-collapse.collapse:not(.in) {
        height: 0px !important;
        overflow: hidden !important;
      }
    }
    ul.menu {
      li {
        float: none;
        a {
          padding: 1em 1em 1em 1.75em;
        }
        > a {
          @include font-akrobat-bold($font-size-base + 2px);
          + ul a {
            @include font-akrobat-bold($font-size-base);
            padding-left: 2.75em;
            + ul a {
              @include font-akrobat-bold($font-size-base - 2px);
              padding-left: 3.75em;
            }
          }
        }
        ul {
          width: auto;
          left: 0;
          top: 0;
          position: relative;
          padding-bottom: 1em;
          &:after { display: none; }
        }
      }
      > li {
        border-bottom: solid 2px $grsr_soft_grey;
        &:last-child { border-bottom-width: 0; }
      }
    }
  }

  @media (min-width: $navbar-bp) {
    position: relative;
    z-index: 100;
    display: block;
    min-height: auto;
    background-color: #f3f3f9;

    // wrapper for logo and socials
    .region-header-lower {
      background-color: $grsr_top_header_grey;
      > nav {
        height: 50px;
        width: $navbar-max-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .header-logo-container {
          position: relative;
          .header-logo {
            position: absolute;
            width: 195px;
            height: 185px;
            background-color: $grsr_red;
            display: flex;
            align-items: center;
            img {
              flex: 1;
              width: 100%;
              height: auto;
            }
          }
        }
        .social-menu {
          display: flex;
          flex: 0 1 auto;
          align-self: center;
        }
      }
    }

    // menu toggle
    .navbar-header {
      display: none;
    }

    // menu container
    #navbar-collapse {
      width: $navbar-max-width;
      margin: 0 auto;
      padding-left: 195px;
      ul.menu {
        height: 62px;
        padding-left: 1em;
        display: flex;
        align-items: stretch;
        > li {
          position: relative;
          flex: 1;
          display: flex;
          margin-right: 10px;
          align-items: stretch;
          margin: 0;
          padding-bottom: 1px;
          border-bottom-width: 0;
          a {
            text-decoration: none;
            background-color: transparent;
            transition: background-color .2s;
            &:hover {
              transition: background-color 0;
            }
          }
          > a {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 .75em;
            border-bottom: solid 4px transparent;
            transition: background-color .2s;
            &.is-active {
              border-bottom-color: $grsr_red;
            }
            + ul {
              position: absolute;
              top: 90%;
              left: 50%;
              transform: translateX(-50%);
              width: 200px;
              padding: 0;
              border-top: solid 1px transparent;
              background-color: $grsr_red;
              border-radius: 5px;

              opacity: 0;
              pointer-events: none;
              transition: top .2s, opacity .2s;

              &:after {
                position: absolute;
                top: -10px;
                left: 50%;
                height: 0;
                width: 0;
                transform: translateX(-50%);
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8.5px 10px 8.5px;
                border-color: transparent transparent $grsr_red transparent;
                pointer-events: none;
              }
              a {
                padding: .5em 1em;
                color: white;
                + ul {
                  padding: 0;
                  background-color: rgba(255,255,255, .2);
                  a {
                    padding-left: 2em;
                  }
                }
              }
            }
          }
          &:hover > a {
            transition: background-color 0;
            + ul {

              opacity: 1;
              top: 100%;
              pointer-events: all;

            }
          }
        }
      }
    }

  }

  .navbar-list-item .active {
    background-color : #ffffff;
    > a {
      color: $navbar-red-font !important;
    }
    .collapse-dropdown {
      padding: 0;
      > li > a {
        color: #C5CACE !important;
        font-size: 16px !important;
      }
    }
  }

  .collapse-dropdown {
    display: none;
  }

  .main-navigation-link {
    color: #555555;
  }

  .active-trail.navbar-list-item {
    background-color: $white;
    a {
      color: $navbar-red-font;
    }
  }
}

.navbar-icon {
  position: absolute;
  top: 7%;
  font-size: 20px !important;
  left: 55%;
  width: 90px;
  text-align: center;
  color: $white;
}

.sub-main-navigation-link.is-active.nav-bar-url {
  color: $navbar-red-font !important;
}

.sub-main-navigation-link.is-active.nav-bar-url + ul > li > a {
  color: #88888B !important;
}

.sub-main-navigation-link.child-colapse + ul{
  background-color: $white !important;
}

.sub-main-navigation-link.child-colapse + ul > li > a{
  color: #555555 !important;
}

.sub-main-navigation-link:hover {
  background-color: $white;
  color: $navbar-red-font;
}
.active-trail.navbar-list-item.menuparent > i{
  color: $navbar-red-font;
}

.sf-depth-1.navbar-list-item.menuparent > i {
  display: none !important;
}

.navbar-header {
  display: none;
}

//.collapse-dropdown.dropdown-collapsed {
//  a {
//    color: #555555 !important;
//  }
//}

.menu.nav-bar-list-container {
  background-color: #f3f3f9;
}
