/* --------------------------------

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.menu--header {
  display: inherit;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $grsr_red;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;

  &.nav-open {
    background-color: $grsr_red;
  }

  @media (min-width: 769px) {
    display: none;
  }
}

.header-top-fix {
  top: 38px !important;
}

.menu--header::after {
  clear: both;
  content: "";
  display: block;
}
.menu--header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
@media only screen and (min-width: 769px) {
  .menu--header {
    height: 80px;
  }
}

.menu--header .logo,
.menu--header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu--header .logo {
  display: none;
  left: 16px;
  top: 30px;
  width: 118px;
}
.menu--header .logo a, .menu--header .logo img {
  display: block;
}

.menu--header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  right: 0;

  &:hover {
    background-color: $grsr_soft_grey;
    color: $grsr_darkest_gray;
  }
}

.menu--header.nav-open .nav-trigger {
  color: $white;

  &:hover {
    background-color: $grsr_soft_grey;
    color: $grsr_darkest_gray;
  }
}
.menu--header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.menu--header .nav-trigger em,
.menu--header .nav-trigger em::after,
.menu--header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: $white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu--header .nav-trigger:hover em,
.menu--header .nav-trigger:hover em::after,
.menu--header .nav-trigger:hover em::before {
  background-color: $grsr_darkest_gray;
}

.menu--header .nav-trigger:hover em {
  -webkit-transition: none;
  transition: none;
}

.menu--header.nav-open .nav-trigger em,
.menu--header.nav-open .nav-trigger em::after,
.menu--header.nav-open .nav-trigger em::before {
  background-color: $white;
}

.menu--header.nav-open .nav-trigger:hover em::after,
.menu--header.nav-open .nav-trigger:hover em::before {
  background-color: $grsr_darkest_gray;
}

.menu--header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: none;
  transition: none;
}
.menu--header .nav-trigger em::before,
.menu--header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.menu--header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
.menu--header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}
@media only screen and (min-width: 769px) {
  .menu--header .nav-trigger {
    display: none;
  }
}

.menu--header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.menu--header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu--header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > div {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > div a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.cd-primary-nav > div a:hover, .cd-primary-nav > div a.active {
  color: #8F3985;
}
@media only screen and (min-width: 769px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > div,
  .cd-primary-nav > ul.menu.nav.navbar-nav {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > div::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > div li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > div li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > div a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav div,
.cd-primary-nav div:target {
  /*
  	show primary nav - mobile only
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 769px) {
  .nav-open .cd-primary-nav div,
  .cd-primary-nav div:target {
    display: table-cell;
  }
}

/* --------------------------------

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #25283D;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-secondary-nav::after {
  /* gradient on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background: transparent;
  background: -webkit-linear-gradient(right, #25283D, rgba(37, 40, 61, 0));
  background: linear-gradient(to left, #25283D, rgba(37, 40, 61, 0));
  pointer-events: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cd-secondary-nav.nav-end::after {
  opacity: 0;
}
.cd-secondary-nav div, .cd-secondary-nav li, .cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav div {
  /* enables a flex context for all its direct children */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-secondary-nav div::after {
  clear: both;
  content: "";
  display: block;
}
.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}
.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  opacity: .6;
  line-height: 50px;
  padding: 0 1em;
}
.cd-secondary-nav a:hover, .cd-secondary-nav a.active {
  opacity: 1;
}
@media only screen and (min-width: 769px) {
  .cd-secondary-nav {
    height: 70px;
    overflow: visible;
  }
  .cd-secondary-nav div {
    /* reset mobile style */
    display: block;
    text-align: center;
  }
  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .cd-secondary-nav a {
    line-height: 70px;
  }
  .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px #8F3985;
  }
}

/* --------------------------------

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */
.cd-secondary-nav.fixed {
  position: fixed;
  top: 60px;
}
.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
}
@media only screen and (min-width: 769px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 #25283D;
  }
  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

/* --------------------------------

Main content

-------------------------------- */
.cd-main-content {
  padding: 60px 5% 2em;
  overflow: hidden;
}
.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 110px;
}
.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}
.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}
.cd-main-content p {
  max-width: 769px;
  line-height: 1.6;
  margin: 2em auto;
  font-family: "David Libre", serif;
  color: #a5a8a9;
}
@media only screen and (min-width: 769px) {
  .cd-main-content {
    padding-top: 80px;
  }
  .cd-main-content.sub-nav {
    padding-top: 150px;
  }
  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }
  .cd-main-content p {
    font-size: 2.4rem;
  }
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/
.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}
@media only screen and (min-width: 769px) {
  .cd-main-content.sub-nav :target::before,
  .cd-main-content.sub-nav-hero :target::before {
    margin-top: -70px;
    height: 70px;
  }
}

/* --------------------------------

Intro Section

-------------------------------- */
.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 60px;
  height: 300px;
  background: url(../img/cd-hero-background.jpg) no-repeat center center;
  background-size: cover;
}
.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .cd-hero {
    height: 400px;
  }
}
@media only screen and (min-width: 769px) {
  .cd-hero {
    height: 600px;
    margin-top: 80px;
  }
}

ul.menu--container {
  display: inherit;
  padding: 0;
  list-style: none;

  li {
    background-color: $grsr_soft_grey;

    &.active {
      background-color: $white;

      &:hover {
        background-color: $grsr_red;
      }

      a:hover {
        color: $white;
      }
    }

    a {
      color: $grsr_darkest_gray;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }

    &:hover {
      background-color: $grsr_red;
    }
  }
  @media (min-width: 769px) {
    display: none;
  }
}

.search-box {
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }

  &:hover .icon{
    margin-top: 16px;
    color: #93a2ad;

    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
  }

  input#search {
    width: 100%;
    height: 50px;
    background: $grsr_top_header_grey;
    border: none;
    font-size: 10pt;
    float: left;
    color: $grsr_darkest_gray;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: $white;
  }

  input#search::-webkit-input-placeholder {
    color: #65737e;
  }

  input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
  }

  input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
  }

  input#search:-ms-input-placeholder {
    color: #65737e;
  }
}

.social--menu {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

  li {
    display: inline-block;
    padding: 0 20px 0 0;

    a {
      background: $grsr_dark_grey;
      border: 0;
      border-radius: 100%;
      color: $white;
      height: 48px;
      font-size: 26px;
      text-decoration: none;
      width: 48px;
      text-align: center;

      &:hover,
      &:focus{
        color: $white;
      }
    }
  }
}

