//Form


#views-exposed-form-centro-de-prensa-block-centro-prensa {
  .form-item {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

//View
.path-prensa{
  .col-left-adjustments {
    padding-left: 0;
  }
  .block--bef .form-inline {
    padding: 20px 20px 20px 0;
  }
}

.news-list-item-container {
  margin:0 3% 4% 0;
  padding-bottom: 2.5%;
  background-color: #F2F2F2;
  .news-list-ref {
    background: red;
  }
}

.news-list-thumb-container {
  margin-bottom: 2%;
  padding-bottom: 22%;
}

.news-list-details{
  margin-right: 4%;
  margin-left: 4%;
  hr{
    width:20%;
    border-top:1px solid $grsr_dark_grey;
    margin: 0 0 2% 0;
    padding: 0;
  }
}

.news-list-details-thumb{
  margin-right: 3%;
  margin-left: 3%;
  hr{
    width: 80%;
    border-top:1px solid $grsr_dark_grey;
    margin: 0 0 3% 0;
    padding: 0;
  }
}

.news-list-title {
  margin: 0;
  h3 {
    @include font-akrobat-regular(42px);
    color: black;
    line-height: 1.5em;
  }
}

.news-list-title-thumb{
  margin: 0;
  h3 {
    @include font-akrobat-regular(25px);
    color: black;
    line-height: 1em;
  }
}

.news-list-date {
  @include font-montserrat-regular(14px);
  line-height: 1.6em;
  color: $grsr_dark_grey;
}

.news-list-summary{
  @include font-montserrat-regular(16px);
  line-height: 1.6em;
  color: $grsr_dark_grey;
}

.news-list-summary-thumb{
  @include font-montserrat-regular(12px);
  line-height: 1.6em;
  color: $grsr_dark_grey;
}

.prensa-attachment-thumbs{
  padding-right: 6px !important;
  padding-left: 6px !important;
  margin-right: 0;
  margin-left: 0;
}

.prensa-pager{
  margin-right: 0;
  margin-left: 0;
  padding-left: 24px;
  padding-right: 24px;
}