.otros-contenido-top {
  margin-bottom: 20px;
  .field--name-body {
    p {
      img, 
      div, 
      iframe, 
      a {
        height: auto;
        width: 100%;
      }
    }
  }
}

.field--name-field-others-imagen {
  margin-bottom: 20px;
}

.path-otros {
  @media (max-width: 425px) {
    width: fit-content;
  }
}