ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;

  & li {
    display: inline;
    border:0;

    & > a {
      border: 0;
      border-radius: 4px;
      margin: 0 4px;
      color: #545454;
    }
  }

  &> .active {

    & > a {
      background-color: $grsr_top_header_grey;
      color: $grsr_dark_grey;
      border-radius: 5px;

      &:hover {
        background-color: $grsr_top_header_grey;
        border-color: $grsr_top_header_grey;
      }
    }
  }
}

.pager-nav {
  margin-top: 2em;
  margin-bottom: 3em;
}
