.field--name-field-accordion {
  margin-bottom: 50px;
}
.paragraph--type--accordion {
  .card-header {
    position: relative;
    .field--type-string {
      text-align: left !important;
      padding: 10px;
      font-family: $font-Montserrat;
      font-size: 1.2em;
      cursor: pointer;
      border: 1px solid $grsr_red;
      font-weight: 400;
    }
    .card-link {
      .span-icon {
        border: 1px solid $text_black;
        border-width: 0px 3px 3px 0;
        height: 1rem;
        pointer-events: none;
        position: absolute;
        right: 1.5em;
        top: 53%;
        transform: translateY(-50%) rotate(-135deg);
        width: 1rem;
      }
    }
    .card-link.collapsed {
      .span-icon {
        transform: translateY(-60%) rotate(45deg);
      }
    }
  }
  .card-body {
    display: block;
    .field--name-field-imagen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .field--name-field-description {
      text-align: left;
      margin: 20px 0 20px 0;
      flex-wrap: wrap;
      font-size: 12px;
      line-height: 1.6em;
    }
  }
}