div.podcast-view-block.views-row{
  a,a:hover,a:click, a:visited {
    text-decoration: none;
    color: #000000;
  }
  hr{
    border-top: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row{
    color: #000;
  }
  span{
    @include  font-akrobat-bold(18px);
    color: #6c6c6c;
    display: inline-block;
    width: 16em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .field--name-body{
    margin-top: 3px;
  }

  .field--name-body p{
    @include  font-akrobat-regular(16px);
    color: #6c6c6c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .podcast-content{
    padding-left: 2px;
  }
  .podcast-play{
    img {
      height: 54px;
      width: 54px;
      margin-top: 3px;
    }
  }
}

@media screen and (max-width: 991px) {
  div.podcast-view-block.views-row{
    margin: auto;
    .row{
      width: 334px;
    }
  }
}

@media screen and (max-width: 1199px) {
  div.podcast-view-block.views-row{
    span{
      width: 13em;
    }
  }
}