.view-id-promociones_view {
  margin: 0 .5em;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5em;
    .views-row {
      flex: 0 0 100%;
      padding: .5em;
      float: none;
      img {
        margin: 0;
        width: 100%;
      }
    }
    @media (min-width: 767px) {
      .views-row {
        flex: 0 0 50%;
      }
    }
    @media (min-width: 1024px) {
      flex-wrap: nowrap;
      .views-row {
        flex: 1 0 0;
      }
    }
  }
  &.view-display-id-block_promocion_principal {

  }
}
