.publicidad-align{
  margin-top: -14px !important;
}

.block-views-blockvista-publicidades-2-block-ad-2{
  padding-right: 18px;
  padding-left: 2px;
}

.block-views-blockvista-publicidades-2-block-2{
  padding-right: 18px;
}