.view-recipe-profile {
  article > .content > .row {
    // image + ingredients
    &:first-child {
      > * {
        &:first-child {
          .field--name-field-recipe-image {
            margin-bottom : 1em;
          }
          > span {
            display: inline-block;
            margin-right: 1em;
            @include font-montserrat-light(16px);
            + .field {
              display: inline-block;
            }
          }
        }
        &:last-child {
           h2 {
             position: relative;
             margin: 0;
             padding: 0 0 .4em;
             color: $grsr_red;
             &:before {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 75%;
               border-bottom: solid 2px $grsr_dark_grey;
             }
           }
           .field--name-field-recipe-ingredients {
             padding: 1em 0;
             .field--label { display: none; }
             .ingredient-item {
               @include font-montserrat-light(14px);
               line-height: 1.2em;
               > div {
                 display: inline-block;
               }
             }
           }
           .prep-difficulty-container {
             display: flex;
             border-top: solid 2px $grsr_dark_grey;
             border-bottom: solid 2px $grsr_dark_grey;
             .preparation-block, .difficulty-block {
               padding: .5em 1em;
             }
             .preparation-block {
               flex: 0 1 auto;
               .fa-clock-o {
                 font-size: 1.5em;
                 color: $grsr_soft_grey;
                 vertical-align: sub;
                  line-height: 0;
               }
             }
             .difficulty-block {
               flex: 1 0 auto;
               border-left: solid 2px $grsr_dark_grey;
               > div { margin: 0 }
             }
           }
         }
      }
    }
  }
}

.block-region-top-right-lower {
  display: flex;
  justify-content: center;
}

.block-field-blocknoderecipesfield-recipe-time-preparation {
  border-right: 2px solid;
  padding-right: 15px;
  .block-title {
    font-size: 19px;
    &:after {
      background-image: url(/themes/custom/gruporey/assets/clock.png);
      background-repeat: no-repeat;
      color: transparent;
      content: 'img';
      margin-left: 2px;
    }
  }
}

.block-field-blocknoderecipesfield-recipe-difficulty {
  padding-left: 15px;
}

.page-node-type-recipes {
  .main-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.recipe-detail {
  border-top: 2px solid $grsr_dark_grey;
  border-bottom: 2px solid $grsr_dark_grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

li.recipe-detail-item {
  display: inline-table;
  padding: 7px;
}

.field.field--name-field-recipe-image.field--type-image.field--label-visually_hidden {
  .field--item {
    img {
      width: 100%;
    }
  }
}

.down-left-container {
  margin-bottom: 30px;
}


ul.recipe-detail-list {
  margin-top: 7px;
  margin-bottom: 7px;
}

.recipe-detail-list .recipe-detail-item div {
  text-align: center;
}

.block-region-top-right > :first-child h2 {
  @include font-akrobat-semibold(24px);
  border-bottom: 2px solid $grsr_dark_grey;
  color: $grsr_red;
  margin-bottom: 10px;
  margin-top: 86px;
  padding-bottom: 10px;
  width: 100%;

  @media (min-width: 540px) {
    margin-top: 66px;
  }

  @media (min-width: 720px) {
    margin-top: 26px;
  }

  @media (min-width: 992px) {
    margin-top: 10px;
    width: 160px;
  }
}

.recipe-preparation {
  .field--item {
    margin-top: 20px;
  }
}

i.fa.fa-print.print-button {
  font-size: 30px;
}

.recipe-ingredients .field--item .field-collection-item {
  div {
    .field {
      display:inline-block;
    }
  }
}

.field-collection-item.field-collection-item--name-field-recipe-ingredients {
  div {
    .field {
      :last-child {
        padding-right:10px;
      }
    }
  }
}

.block-region-top-right > :not(:first-child) h2 {
  font-size: 15px !important;

}

.block-region-top-right section.block.block-fieldblock.block-fieldblocknode.clearfix {
  display: inline-block;
  width: 100%;
}

.field.field--type-string.field--label-hidden.field--item {
  text-align: center;
}

.field.field--name-field-recipe-difficulty.field--type-list-string.field--label-hidden.field--item {
  text-align: center;
}

.block-region-top-right section.block.block-fieldblock.block-fieldblocknode.clearfix:not(:first-child) {
  border-right: 2px solid $grsr_dark_grey;
  padding-right: 10px;
  margin-top: 20px;
}

.block-region-top-right-lower {
  border-bottom: 2px solid $grsr_dark_grey;
  border-top: 2px solid $grsr_dark_grey;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 10px;
  padding-bottom: 2px;
  width: 100%;

  @media (min-width: 992px) {
    width: 100%;
  }

  h2 {
    font-size: 13px;
  }
}

.block-region-top-right-lower section.block.block-fieldblock.block-fieldblocknode.clearfix {
  display: inline-block;
  margin-top: 0px;
  padding-left: 12px;
  padding-right: 10px;

  @media (min-width: 992px) {
    padding-left: 5px;
  }

  @media (min-width: 1200px) {
    padding-left: 18px;
  }

  div {
    @include font-montserrat-regular(12px);
  }

  &:nth-child(2) {
    height: 56px;
    padding-right: 17px;
    position: relative;
    top: -7px;

    @media (min-width: 992px) {
      padding-right: 7px;
    }

    @media (min-width: 1200px) {
      padding-right: 17px;
    }

    h2 {
      @include font-akrobat-semibold(15px);
      color: $grsr_darkest_gray;
      left: -2px;
      margin-bottom: 0;
      margin-top: 0;
      padding-top: 15px;
      position: relative;
      top: -7px;
    }
  }

  &:first-child {
    h2 {
      font-size: 18px;
      margin-top: 9px;
      padding-left: 16px;

      @media (min-width: 360px) {
        padding-left: 36px;
      }

      @media (min-width: 468px) {
        padding-left: 96px;
      }

      @media (min-width: 520px) {
        padding-left: 130px;
      }

      @media (min-width: 590px) {
        padding-left: 166px;
      }

      @media (min-width: 680px) {
        padding-left: 200px;
      }

      @media (min-width: 780px) {
        padding-left: 250px;
      }

      @media (min-width: 992px) {
        padding-left: 0;
      }
    }

    .field--name-field-recipe-time-preparation {
      padding-left: 9px;

      @media (min-width: 360px) {
        padding-left: 26px;
      }

      @media (min-width: 468px) {
        padding-left: 96px;
      }

      @media (min-width: 520px) {
        padding-left: 130px;
      }

      @media (min-width: 590px) {
        padding-left: 166px;
      }

      @media (min-width: 680px) {
        padding-left: 200px;
      }

      @media (min-width: 780px) {
        padding-left: 250px;
      }

      @media (min-width: 992px) {
        padding-left: 0;
      }
    }
  }


  &:first-child h2:after{
    background-image: url("/themes/custom/gruporey/assets/clock.png");
    background-repeat: no-repeat;
    color: transparent;
    content:'img';
    margin-left: 2px;
  }

  &:last-child {
    border: none;

    @media (min-width: 992px) {
      padding-left: 5px;
      padding-right: 0;
    }

    @media (min-width: 1200px) {
      padding-left: 12px;
      padding-right: 10px;
    }

    h2 {
      @include font-akrobat-semibold(15px);
      color: $grsr_darkest_gray;
      position: relative;
      top: -3px;
    }

    .field--name-field-recipe-difficulty {
      position: relative;
      top: -8px;
    }
  }
}

.block-region-top-right-lower section.block.block-fieldblock {
  display: inline-block;
  margin-top: 6px;
  border-right: 2px solid $grsr_dark_grey;
  padding-right: 10px;
}

.views-field.views-field-field-recipe-rating {
  display: inline-block;
  margin-top: 10px;
}

.views-field-sharethis-node{
  bottom: -49px;
  left: -2px;
  position: absolute;

  @media (min-width: 540px) {
    bottom: -24px;
  }

  @media (min-width: 720px) {
    bottom: 10px;
    left: initial;
    right: -3px;
  }
}

.block-region-main-lower section {
  margin-top: 15px;
  margin-bottom: 20px;
}

.block-region-main-mid-lower .slide__title {
  font-size: 14px;
  margin:0px;
}

.block-region-main-mid-lower .slide__caption {
  font-size: 10px;
}

.slick__colorbox {
  display: block;
}

.view-content .slide__media {
  margin-right: 50px;
}

.block-region-main-mid-lower button.slick-prev.slick-arrow {
  display: none!important;
}

.block-region-main-mid-lower button.slick-next.slick-arrow {
  display: none !important;
}

.select-wrapper:after {
  content: '' !important;
}

span.stButton_gradient.stHBubble {
  display: none!important;
}

.pluginCountButton.pluginCountNum {
  display: none!important;
}

.recipe-left-details {
  .field--name-field-recipe-image {
    .img-responsive {
      width: 100%;
    }
  }

  .views-field.views-field-title {
    margin-bottom: 15px;

    .field-content {
      font-size: 24px;
    }
  }
}

.rating--stars {
  display: inline-block;
  padding-left: 0;
  top: 6px;
  position: relative;

  .star {
    list-style: none;
    display: inline-block;
    margin-right: 4px;
    color: $grsr_soft_grey;

    &.star-marked {
      color: $grsr_yellow;
    }
  }
  .glyphicon-star:before {
    font-size: 20px;
  }
}

.rating--text {
  @include  font-montserrat-regular(14px);
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.flag-recipe-flags {
  position: relative;
  left: 0;
  z-index: 1;

  .field--name-field-recipe-rating {
    display: inline-block;
    margin-top: 10px;
  }

  @media (min-width: 540px) {
    bottom: 13px;
  }

  @media (max-width: 539px) {
    margin-bottom: 9px;
  }

  a {
    text-decoration: none;

    &.smrey_red {
      color: $grsr_red;

      &:hover,
      &:focus {
        color: $grsr_medium_grey;
      }
    }

    &.smrey_gray {
      color: $grsr_medium_grey;

      &:hover,
      &:focus {
        color: $grsr_red;
      }
    }
  }
}





.recipe--steps-item {
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 768px) {
    &:nth-child(2n+1) {
      padding-right: 15px;
    }

    &:nth-child(2n+2) {
      padding-left: 15px;
    }
  }

  @media (min-width: 1200px) {
    &:nth-child(2n+1) {
      padding-right: 15px;
    }

    &:nth-child(2n+2) {
      padding-left: 15px;
    }
  }

  .field--name-field-recipe-step-title {
    @include font-akrobat-bold(16px);
    margin-top: 5px;
    text-transform: uppercase;
  }

  .field--name-field-recipe-step-description {
    @include font-montserrat-light(14px);
  }
}

.recipe--directions {
  margin-top: 40px;
}

.recipe--title {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;

  @media (max-width: 719px) {
    margin-top: 20px;
  }

  h2 {
    @include font-akrobat-semibold(24px);
    display: inline;
    border-bottom: 1px solid $grsr_dark_grey;
    float: left;
  }
  div {
    float: right;
    padding: 30px 0 0 0;
  }
}

.field--name-field-recipe-preparation {
  @include font-montserrat-light(16px);
  line-height: 24px;
  margin-bottom: 30px;
}

.block-region-recipe-steps {
  .recipe--steps-item {
    .field--name-field-recipe-step-image {
      .field--item img {
        width: 100%;
      }
    }
  }
}

.block-region-comments {
  border-top: 1px solid $grsr_red;
  margin-top: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.recipe--comment-item {
  border-bottom: 1px solid $grsr_soft_grey;
  padding-bottom: 10px;

  h3 {
    display: none;
    @include font-akrobat-bold(24px);
    margin-bottom: 5px;

    a {
      color: $grsr_dark_grey;
      text-decoration: none;
    }
  }

  .field--name-comment-body {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.recipe--comments {
  .button--primary {
    @include font-montserrat-regular(12px);
    background-color: $grsr_soft_red;
    border-color: $grsr_soft_red;
  }

  #edit-preview {
    display: none;
  }

  h2 {
    @include font-akrobat-bold(24px);
  }

  a, label {
    @include font-montserrat-regular(14px);
  }
}

.share.block--custom-sharethis {
  text-align: center;
  width: 100%;
  .stButton_gradient:not(.nohover){

  }
  .stButton .print {
    width: 49px;
    height: 45px;
    background-image: url("/themes/custom/gruporey/img/imprimir.png");
  }
  .stButton_gradient{
    height: 44px;
    background: transparent;
    border: none;
  }
  .stButton_gradient:hover{
    background: transparent;
  }
  .st_email_hcount .stButton .st-email-counter {
    background-image: url("/themes/custom/gruporey/img/email.png") !important;
    background-size: 47px 35px;
    padding-top: 28px;
  }
}

.recipe-print-button {
  background-image: url('../img/imprimir.png');
  background-size: cover;
  background-color: transparent;
  border: 0;
  height: 50px;
  width: 50px;
}
