// Recipe list

// Form
#views-exposed-form-recipe-list-recipe-list {
  .form-item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

// View

.view-recipe-list {
  .view-header {
    @include font-montserrat-regular(14px);
    padding-bottom: 10px;
    border-bottom: 1px solid $grsr_medium_grey;
  }

  .view-content {
    margin-right: -15px;
    margin-left: -15px;
  }

  .form-group a {
    color: $grsr_dark_grey;
    padding: 18px;
    background-color: #e1e1e1;
    border-radius: 10px;
  }

  nav.pager-nav {
    text-align: center;
    margin-top: 5px;
    @media (min-width: 768px) {
      position: absolute;
      right: 0;
      top: -11px;

      .pull-right {
        position: relative;
        top: -27px;
      }
    }
  }
}

.path-recetas .main-container {
    @media screen and (max-width: 767px) {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}

.recipe.views-row {
  padding-bottom: 25px;

  @media (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(2n+1) {
      clear: left;
    }
  }

  @media (min-width: 1200px){
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

// Information

.recipe {
  margin-bottom: 20px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.recipe-list--title {
  @include font-akrobat-semibold(22px);
  line-height: 1em;
  margin-left: 0;
  margin-top: 8px;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $breakpoint-large) {
    margin-left: 10px;
    margin-top: 8px;
    width: 185px;
  }
}

.recipe-list--subtitle {
  @include font-montserrat-light(14px);
  line-height: 1.4em;
  margin-left: 0;
  margin-top: 4px;
  width: 100%;

  @media (min-width: $breakpoint-large) {
    margin-left: 10px;
    margin-top: 2px;
    width: 185px;
  }
}

.recipe--item .image {
  background-color: $grsr_red;
  position: relative;
  //Hover effect
  &:hover img {
    opacity: 0.4;
  }

  &:hover .recipe--fb-likes {
    opacity: 1;
  }

  img {
    backface-visibility: hidden;
    opacity: 1;
    transition: .5s ease;
    width: 100%;
  }

  .recipe--fb-likes {
    background: transparent url(../img/heart.png) no-repeat 50% 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 90px;
    width: 100px;
  }
  .recipe--fb-amount {
    color: $white;
    font-family: $font-Akrobat;
    font-size: 38px;
    line-height: 80px;
  }
}

.recipe--read-more {
  text-align: right;
  a.btn {
    @include font-montserrat-light(14px);
    background-color: $grsr_soft_red;
    border-color: $grsr_soft_red;
    border-radius: 6px;
    margin-left: 0;
    margin-top: 10px;
    padding: 5px 12px;

    &:hover {
      background-color: $grsr_red;
      border-color: $grsr_red;
    }
  }
}