.top-bar-busqueda{
  background: transparent url("/themes/custom/gruporey/img/busqueda-lupa-gray.png") no-repeat 100% 50%;
  background-size: contain;
  border: none;
  color: $grsr_dark_grey;
  height: 28px;
  margin: 0 10px;
  padding: 5px 35px 5px 0;
  @include font-montserrat-regular(14px);
  &:focus{
    outline: 0;
  }
  &:hover {
    background-color: transparent;
    color: $grsr_dark_grey;
  }

}

@media screen and (max-width: 768px) {
  .top-bar-busqueda {
    display: none !important;
  }

  //Keeps the correct size of the search field
  #busqueda_form_wrapper .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: auto;
  }

  //Keeps the correct size of the search field in mobile and as part of the sliding menu.
  .mobile-search-field #busqueda_form_wrapper {
    div.form-item {
      width: 50%;
    }
  }
}