input[type=checkbox]{
  :checked {
    color: $grsr_red;
  }
}

.btn,
button {
  background-color: $grsr_red;
  color: $white;
  border-color: $grsr_red;
  font-family: $font-Montserrat;

  &:hover {
    background-color: darken($grsr_red, 5);
    border-color: darken($grsr_red, 5);
    color: $white;
  }
}

.pagination {
  display: block;
}

div.form-group a {
  font-family: $font-Montserrat;
}

//Global override
.form-inline .select-wrapper {
  width: 100%;
  @media (min-width: $breakpoint-xmedium) {
    width: auto;
  }
}

//Better exposed filter
.bef-exposed-form {
  .form-group {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: auto;
    }
  }
  .form--inline > .form-item {
    float: none;
    @media screen and (min-width: 768px) {
    }
  }
}

#views-exposed-form-grupo-rey-blog-list-block-blog-list,
#views-exposed-form-recipe-list-recipe-list,
#views-exposed-form-centro-de-prensa-block-centro-prensa {
  &.views-exposed-form {
    //Force filter button to be visible
    .form-actions {
      display: inline-block !important;
      float: left;
      margin-bottom: 20px;
      @media screen and (min-width: 768px) {
        float: none;
      }
    }
  }

  .form-inline {
    background-color: #ededed;
    padding: 20px 20px 0;
    margin-top: 10px;
  }
}