// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf svg woff woff2) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// Typography
//---------------------------------------------------------------------------------------------------
// Add typography using  ^Mixing font-face
@include font-face('Akrobat','../fonts/akrobat/Akrobat-Bold', 700, normal, eot otf ttf svg woff woff2);
@include font-face('Akrobat','../fonts/akrobat/Akrobat-SemiBold', 500, normal, eot otf ttf svg woff woff2);
@include font-face('Akrobat','../fonts/akrobat/Akrobat-Regular', 300, normal, eot otf ttf svg woff woff2);

@include font-face('Montserrat','../fonts/montserrat/Montserrat-Bold', 700, normal, eot otf ttf svg woff woff2);
@include font-face('Montserrat','../fonts/montserrat/Montserrat-Light', 300, normal, eot otf ttf svg woff woff2);
@include font-face('Montserrat','../fonts/montserrat/Montserrat-Semibold', 500, normal, eot otf ttf svg woff woff2);
@include font-face('Montserrat','../fonts/montserrat/Montserrat-Regular', 400, normal, eot otf ttf svg woff woff2);

@fa-font-path: "../";

//Base Css Attributes
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  //here base font atributes use variables
  font-size: $font-size-base;
  color: $grsr_dark_grey;
  line-height: $base-line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-Akrobat;
  font-weight: $Akrobat-bold;
}

p {
  font-family: $font-Akrobat;
  font-weight: $Akrobat-bold;
}

nav a {
  font-family: $font-Montserrat;
}
