{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 {{- product|without('variation_attributes') -}}
 */
#}
{% set product_classes = ['row', 'product-details'] %}
<div class="catalogo-img-container">
    <a href="{{ product_url }}">
        {{ product.field_fotos[0] }}
    </a>
</div>
<div class="product-details-info">
    <a class="product--link" href="{{ product_url }}">{{ product.title }}</a>
    {{ product.field_product_brand }}
    {{ product.field_marca }}
    <label class="product-price-label">{{ product.field_upc }}</label>
    {#<div class="product-price-container">#}
        {#{% if product.newPrice == product.price %}#}
            {#<label class="product-prfeatured--product-textice">B/. {{ product.price }}</label>#}
        {#{% else %}#}
            {#<label class="product-price-label">Antes </label>#}
            {#<label class="product-price-label">B/. {{ product.price }}</label>#}
        {#{% endif %}#}
    {#</div>#}
    {#{% if product.newPrice != product.price %}#}
        {#<div class="offert-container">#}
            {#<label class="new-product-offert-price-label">Ahora </label><label class="product-offert-price"> B/.{{ product.newPrice }}</label>#}
        {#</div>#}
    {#{% endif %}#}
    {#{{ product|without('field_product_images','title', 'field_product_brand', 'variation_price') }}#}
</div>