{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 {{- product|without('variation_attributes') -}}
 */
#}
{% set product_classes = ['row', 'featured--right-slider'] %}
<article {{ attributes }}>
  <div {{ attributes.addClass(product_classes) }}>
    <div class="col-md-12">
      <div class="featured--product-image">{{ product.field_foto_destacada }}</div>
    </div>
  </div>
</article>