{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form clearfix">
  <div class="row">
    <div class="col-xs-5 layout-region layout-region-checkout-main">
        {{ form|without('order_summary', 'actions') }}
    </div>
    <div class="col-xs-7 layout-region layout-region-checkout-secondary">
      <h3>{% trans %} Resumen de Compra {% endtrans %}</h3>
        <div class="row">
          {{ form.order_summary }}
        </div>
    </div>
  </div>
  {#<div class="layout-region layout-region-checkout-footer">#}
    {#{{ form.actions }}#}
  {#</div>#}
</div>
