{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 {{- product|without('variation_attributes') -}}
 */
#}
{% set product_classes = ['row', 'product-details', 'presentacion-search-product'] %}
<article {{ attributes }}>
  <div {{ attributes.addClass(product_classes) }}>
    <div class="col-xs-12">
      <a class="product--link" href="{{ product_url }}">{{ product.title }}</a>
      {{ product.field_product_brand }}
      <div class="variation">
        <div class="add-to-form">
          {{ product|without('field_product_images','title', 'field_product_brand', 'body', 'variation_price', 'field_product_price', 'field_featured_photo') }}
        </div>
      </div>
    </div>
  </div>
</article>
