{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 {{- product|without('variation_attributes') -}}
 */
#}
{% set product_classes = ['row', 'product-details'] %}
<article {{ attributes }}>
  <div {{ attributes.addClass(product_classes) }}>
    <div class="col-sm-5 col-md-4 product--slider">
      {{ product.field_fotos }}
    </div>
    <div class="col-sm-7 col-md-8">
      {{ product.title }}
      {{ product.field_marca }}
      {{ product.field_upc }}
      <label class="offert-description-label">Descripción</label>
      {{ product.field_descripcion }}
      <div class="product-profile-price">
          {% if product.newPrice == product.price %}
            <label class="product-price">B/. {{ product.price }}</label>
          {% else %}
            <label class="product-price-label">B/. {{ product.newPrice }}</label>
          {% endif %}
      </div>
      <div class="variation">
        <div class="price">
        </div>
        <div class="add-to-form">
          {#{{ product|without('field_product_images','title', 'field_product_brand', 'body', 'variation_price', 'field_product_price', 'field_featured_photo') }}#}
        </div>
      </div>
    </div>
  </div>
</article>

<label class="offert-feeatured-label">Productos Destacados</label>
<div class="featured-product-list">
    {{ product.featured_products_block }}
</div>
