{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="row custom-newsletter-form">
    <div class="col-xs-12 col-sm-6 title"> Recibe las últimas noticias directamente en tu correo: </div>
    <div class="col-xs-12 col-sm-6 email-section">
        <div class="col-xs-8 col-sm-8 email">{{ form.client_email }}</div>
        <div class="col-xs-4 col-sm-4 submit">{{ form.actions }}</div>
    </div>
</div>