{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
    {% set color_flag_icon = 'smrey_red' %}
{% else %}
    {% set action_class = 'action-flag' %}
    {% set color_flag_icon = 'smrey_gray' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{% set classes = [
'flag',
'flag-' ~ flag.id(),
'flag-' ~ flag.id() ~ '-' ~ flaggable.id(),
action_class,
color_flag_icon
] %}
{% set attributes = attributes.addClass(classes) %}

    <a{{ attributes }}><i class="fa fa-heart"></i> {{ title }}</a>
{% endspaceless %}
