{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
    set classes = [
    'region',
    'region-' ~ region|clean_class,
]
%}
{% if content %}
    <div class="home-map-block-title-container">
        <a href="/sucursales">
            <h2 class="home-map-block-title">Sucursales</h2>
        </a>
    </div>
    <div{{ attributes.addClass(classes) }}>
        {{ content }}
    </div>
{% endif %}
