@media print {
  header,
  div#player,
  .field--name-field-recipe-video,
  .block-views-blockrecipe-steps-fc-block-1,
  .views-field-sharethis-node,
  .recipe--comments,
  .hero,
  h2::after,
  figure.youtube-container,
  .view-filters.form-group,
  .footer,
  div.alert.alert-danger.alert-dismissible,
  .tabs--primary.nav.nav-tabs {
    display: none; }
  .recipe--ingredients {
    width: 28%; }
  .recipe--stats {
    width: 28%;
    margin-top: 34px; }
  .main-container > .row > section.col-xs-12 {
    margin-top: 0px !important; }
  .views-field-field-recipe-image img {
    width: 40%; }
  .recipe img {
    width: 26%; }
  html {
    background: none !important; }
  h2, h3 {
    page-break-after: avoid; }
  article {
    page-break-before: always; }
  ul, img {
    page-break-inside: avoid; }
  body {
    background: #FFF;
    color: #000;
    font-size: 8pt;
    line-height: 150%;
    margin: 0px; }
  hr {
    color: #e1e1e1;
    background-color: #e1e1e1; }
  h1, h2, h3, h4, h5, h6, code, pre {
    color: #000;
    text-transform: none; }
  h1 {
    font-size: 11pt;
    margin-top: 1em; }
  h2 {
    font-size: 10pt !important; }
  h3 {
    font-size: 9pt; }
  h4, h5, h6 {
    font-size: 8pt; }
  blockquote {
    background-image: none; }
  a:link, a:visited {
    text-decoration: underline;
    color: #000; } }
